<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product/product-register.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <title>상품 등록 페이지</title>
</head>
<body layout:fragment="content">
<section class="main"></section>
<h2>상품 등록</h2>
<form action="/product/register" th:object="${product}" class="qna-register" method="post">
    <table>
        <tr>
            <td class="title">상품명</td>
            <td class="content">
                <input type="text" th:field="*{prodName}" />
            </td>
        </tr>
        <tr>
            <td class="title">상품코드</td>
            <td class="content">
                <input type="text" th:field="*{prodCode}" />
            </td>
        </tr>
        <tr>
            <td class="title">원가</td>
            <td class="content">
                <input type="text" th:field="*{prodOriginPrice}" />
            </td>
        </tr>
        <tr>
            <td class="title">판매가격</td>
            <td class="content">
                <input type="text" th:field="*{prodSalesPrice}" />
            </td>
        </tr>
        <tr>
            <td class="title">상품대분류</td>
            <td class="content">
                <input type="text" th:field="*{prodCategory}" />
            </td>
        </tr>
        <tr>
            <td class="title">상품상세분류</td>
            <td class="content">
                <input type="text" th:field="*{prodCategoryDetail}" />
            </td>
        </tr>
        <tr>
            <td class="title">상품설명</td>
            <td class="content">
                <input type="text" th:field="*{prodDesc}" />
            </td>
        </tr>
    </table>
    <div class="buttons">
        <button type="submit">등록하기</button>
    </div>
</form>
    
</body>
</html>