<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 관리 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/product/product-management.css">
</head>
<body>

    <section id="main" layout:fragment="content">
        
            <!-- <ul class="header-container">
                <div class="header-items">
                <li>Q&A</li>
                </div>
            </ul> -->
        <h2 class="h2">상품 관리</h2>
        <header class="headerQna">
            <ul class="menu-container">
                <div class="menu-item">
                    <li><a href="">전체</a></li>   
                    <li><a href="">주문</a></li>
                    <li><a href="">배송</a></li>
                    <li><a href="">환불</a></li>
                    <li><a href="">상품</a></li>
                </div>
            </ul>
        </header>

            <table>
                <tr>
                    <th>NO</th>
                    <th>상품명</th>
                    <th>상품코드</th>
                    <th>상품분류</th>
                    <th>등록일</th>
                    <th>작성자</th>
                    <th>판매등록</th>
                    <th>수정/삭제</th>
                </tr>
                <tr>
                    <td>5</td>
                    <td>가디건</td>
                    <td>GD1231</td>
                    <td>TOP</td>
                    <td>2023.10.29</td>
                    <td>yeo****</td>
                    <td><button type="submit">NO</button></td>
                    <td><button type="submit">수정</button> <button type="submit">삭제</button></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>가디건</td>
                    <td>GD1231</td>
                    <td>TOP</td>
                    <td>2023.10.29</td>
                    <td>yeo****</td>
                    <td><button type="submit">NO</button></td>
                    <td><button type="submit">수정</button> <button type="submit">삭제</button></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>가디건</td>
                    <td>GD1231</td>
                    <td>TOP</td>
                    <td>2023.10.29</td>
                    <td>yeo****</td>
                    <td><button type="submit">NO</button></td>
                    <td><button type="submit">수정</button> <button type="submit">삭제</button></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>가디건</td>
                    <td>GD1231</td>
                    <td>TOP</td>
                    <td>2023.10.29</td>
                    <td>yeo****</td>
                    <td><button type="submit">YES</button></td>
                    <td><button type="submit">수정</button> <button type="submit">삭제</button></td>
                </tr>
                
                <!-- <c:forEach var="review" items="${reviews}" varStatus="status">
                    <tr>
                        <td>${status.count}</td>
                        <td>${review.content}</td>
                        <td>${review.userId}</td>
                        <td>${review.uploadDate}</td>
                        <td><button type="button" onclick="location.href='/oyeongshop/product-detail?productNo=${review.productId}';">상품보러가기</button></td>
                        <td><c:if
                                test="${sessionScope.user.userId eq review.userId}">
                                <button id="modifyBtn" class="my-btn" type="button"
                                    onclick="location.href = 'pwdCheck?reviewId=${review.reviewId}'">수정</button>
                                <button id="deleteBtn" class="my-btn" type="button"
                                    onclick="location.href = 'pwdCheckDel?reviewId=${review.reviewId}'">삭제</button>
                            </c:if></td>
                    </tr>
                </c:forEach> -->
            </table>
            <nav class="page">
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
    </section>
    
</body>
</html>