<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product/product-register.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <title>상품 등록 페이지</title>
</head>
<body layout:fragment="content">
<section class="main"></section>
<h2>상품 등록</h2>
<form class="qna-register" action="">
    <table>
        <tr>
            <td class="title">상품명</td>
            <td class="content"><input type="text"></td>
        </tr>
        <tr>
            <td class="title">상품코드</td>
            <td class="content"><input type="text"></td>
        </tr>
        <tr>
            <td class="title">판매가격</td>
            <td class="content"><input type="text"></td>
        </tr>
        <tr>
            <td class="title">상품분류</td>
            <td class="content"><input type="text"></td>
        </tr>
        <tr>
            <td class="title">상품설명</td>
            <td class="content"><textarea></textarea></td>
        </tr>
        <tr>
            <td class="title">상품이미지</td>
            <td><button href="" target="right"><img src="이미지 파일 경로" alt="+"></button></td>
        </tr>
        
        
    </table>
    <div class="buttons">
        <button type="submit">등록하기</button>
    </div>
</form>
    
</body>
</html>