<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/product/product-detail.css">
    <title>상품 정보 페이지</title>
</head>
<body layout:fragment="content">
<div class="container">
    <div class="main-section">
        <img src="/images/product/product-img1.png" alt="Person wearing yellow sweater">
        <div class="product-info">
            <div style="font-size: 18px; font-weight: bold;">상품명 : {Product name} here</div><br>
            <ul class="flex-container">
                <div class="flex-items">
                    <li>상품코드</li>
                </div>
                <div class="flex-items">
                    <li>{Product code} here</li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items">
                    <li>판매가</li>
                </div>
                <div class="flex-items">
                    <li>{price} here</li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items">
                    <li>재고</li>
                </div>
                <div class="flex-items">
                    <li>{amount EA} here</li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items">
                    <li>색상</li>
                </div>
                <div class="flex-items">
                    <li>
                        <select style="width: 100px;">
                            <option>Red</option>
                            <option>Blue</option>
                            <option>Green</option>
                            <option>Yellow</option>
                        </select>
                    </li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items">
                    <li>사이즈</li>
                </div>
                <div class="flex-items">
                    <li>
                        <select style="width: 100px;">
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                            <option>XL</option>
                            <option>XXL</option>
                        </select>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="details-section">

        <div class="details">
            <p>상품정보 1</p>
            <p>#P1DSNE</p>
            <p>첫번째 상품 설명 글</p>
        </div>
        <img src="/images/product/product-img1.png" alt="Person wearing yellow sweater">
        <div class="details">
            <p>상품정보 2</p>
            <p>#P2DSNE</p>
            <p>두번째 상품 설명 글</p>
        </div>
        <!-- 추가로 상세 정보를 넣으실 경우, 이 부분에 .details 블록을 계속 추가하시면 됩니다. -->
    </div>
    <div class="buttons">
        <button class="btn-sell" onclick="location.href='#';">판매 등록하기</button>
        <button class="btn-back" onclick="history.back();">뒤로가기</button>
    </div>
</div>
</body>
</html>