<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/product/product-list.css">
    <title>상품 리스트 페이지</title>
</head>
<body layout:fragment="content">
<h2>BEST100</h2>
<div id="right">
    <table>
        <tbody>
            <th:block th:each="product, iterStat : ${productList}">
                <tr>
                <td>
                    <div th:onclick="'location.href=\'/oyeongshop/product-detail?prodId=\' + ${product.prodId}'">
                        <div id="img_cover">
                            <img id="product_img" alt="" th:src="${product.prodMainImgPath}">
                            <p th:text="${product.prodName}"></p>
                            <p th:text="${product.prodOriginPrice}"></p>
                        </div>
                    </div>
                </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>
</body>
</html>