<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/product/product-list.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>상품 리스트 페이지</title>
</head>
<body layout:fragment="content" th:object="${productList}">
<div style="font-size: 24px; font-weight: bold; margin-bottom: 20px;" th:text="${prodCategory}"></div>
<div id="right">
    <form id="sortForm" action="/product/list" method="get" style="margin-bottom:10px;">
        <div class="toggle-btn" th:if="${prodCategory}!=New">
            <a th:href="'/product/list/' + ${prodCategory} + '/regdate'" th:class="${sortParam == prodCategory + '/regdate' ? 'selected' : ''}">최근 등록일 순</a><span> | </span>
            <a th:href="'/product/list/' + ${prodCategory} + '/pricelow'" th:class="${sortParam == prodCategory + '/pricelow' ? 'selected' : ''}">가격 낮은 순</a><span> | </span>
            <a th:href="'/product/list/' + ${prodCategory} + '/pricehigh'" th:class="${sortParam == prodCategory + '/pricehigh' ? 'selected' : ''}">가격 높은 순</a>
        </div>
        <div class="toggle-btn" th:if="${prodCategory}==New">
            <span style="bold">최근 등록일 순</span>
        </div>
<!--        <div class="toggle-btn">-->
<!--            <label for="sort"></label>-->
<!--            <select id="sort" name="sort" onchange="handleChange()">-->
<!--                <option th:data-select-sort="${prodCategory} + '/regdate'" th:value="${prodCategory} + '/regdate'">최근 등록일 순</option>-->
<!--                <option th:data-select-sort="${prodCategory} + '/pricelow'" th:value="${prodCategory} + '/pricelow'">가격 낮은 순</option>-->
<!--                <option th:data-select-sort="${prodCategory} + '/pricehigh'" th:value="${prodCategory} + '/pricehigh'">가격 높은 순</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <script th:inline="javascript">-->
<!--            $(document).ready(function(){-->
<!--                let sort = [[${prodCategory}]]+"/"+[[${sort}]];-->
<!--                $("#sort").val(sort);-->
<!--            })-->
<!--        </script>-->
    </form>

    <table>
        <tbody>
            <tr th:each="product, iterStat : ${productList}" th:if="${iterStat.index%3==0}">
                <td th:if="${iterStat.index < iterStat.size}">
                    <a th:href="'/product/detail/' + ${productList[iterStat.index].prodId}">
                        <div class="img_cover">
                            <img class="product_img" alt="" th:src="${productList[iterStat.index].prodMainImgPath}">
                            <p th:text="${productList[iterStat.index].prodName}"></p>
                            <p style="text-decoration: line-through;" th:if="${productList[iterStat.index].prodOriginPrice > productList[iterStat.index].prodSalesPrice}"
                               th:text="${#numbers.formatInteger(productList[iterStat.index].prodOriginPrice, 1, 'COMMA')+ '원'}"></p>
                            <p th:text="${#numbers.formatInteger(productList[iterStat.index].prodSalesPrice, 1, 'COMMA')+ '원'}"></p>
                        </div>
                    </a>
                </td>
                <td th:if="${iterStat.index+1 < iterStat.size}">
                    <a th:href="'/product/detail/' + ${productList[iterStat.index+1].prodId}">
                        <div class="img_cover">
                            <img class="product_img" alt="" th:src="${productList[iterStat.index+1].prodMainImgPath}">
                            <p th:text="${productList[iterStat.index+1].prodName}"></p>
                            <p style="text-decoration: line-through;" th:if="${productList[iterStat.index+1].prodOriginPrice > productList[iterStat.index+1].prodSalesPrice}"
                               th:text="${#numbers.formatInteger(productList[iterStat.index+1].prodOriginPrice, 1, 'COMMA')+ '원'}"></p>
                            <p th:text="${#numbers.formatInteger(productList[iterStat.index+1].prodSalesPrice, 1, 'COMMA')+ '원'}"></p>
                        </div>
                    </a>
                </td>
                <td th:if="${iterStat.index+2 < iterStat.size}">
                    <a th:href="'/product/detail/' + ${productList[iterStat.index+2].prodId}">
                        <div class="img_cover">
                            <img class="product_img" alt="" th:src="${productList[iterStat.index+2].prodMainImgPath}">
                            <p th:text="${productList[iterStat.index+2].prodName}"></p>
                            <p style="text-decoration: line-through;" th:if="${productList[iterStat.index+2].prodOriginPrice > productList[iterStat.index+2].prodSalesPrice}"
                               th:text="${#numbers.formatInteger(productList[iterStat.index+2].prodOriginPrice, 1, 'COMMA')+ '원'}"></p>
                            <p th:text="${#numbers.formatInteger(productList[iterStat.index+2].prodSalesPrice, 1, 'COMMA')+ '원'}"></p>
                        </div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/product/product-list.js"></script> <!-- 외부 JavaScript 파일 연결 -->
</body>
</html>