<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/product/product-detail.css">
    <title>제품 정보 페이지</title>
</head>
<body layout:fragment="content">
<div class="container">
    <div class="main-section">
        <img src="1.png" alt="이미지 수정1과 연동됨">
        <div class="product-info">
            <div style="font-size: 18px; font-weight: bold;">상품명 : {Product name} here</div><br>
            <ul class="flex-container">
                <div class="flex-items">
                    <li>상품코드</li>
                </div>
                <div class="flex-items">
                    <li>{Product code} here</li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items">
                    <li>판매가</li>
                </div>
                <div class="flex-items">
                    <li>{price} here</li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items">
                    <li>재고</li>
                </div>
                <div class="flex-items">
                    <li><input type="text"></li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items">
                    <li>색상</li>
                </div>
                <div class="flex-items">
                    <li>
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                        <div><button>메뉴 추가</button><button>메뉴 저장</button></div>
                    </li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items">
                    <li>사이즈</li>
                </div>
                <div class="flex-items">
                    <li>
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                        <div><button>메뉴 추가</button><button>메뉴 저장</button></div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="details-section">
        <div class="details">
            <textarea></textarea>
        </div>
        <img src="1.png" alt="이미지 수정1">
        <div class="details">
            <textarea></textarea>
        </div>
        <!-- 추가로 상세 정보를 넣으실 경우, 이 부분에 .details 블록을 계속 추가하시면 됩니다. -->
    </div>
    <div class="buttons">
        <button class="btn-sell" onclick="location.href='#';">수정하기</button>
        <button class="btn-back" onclick="history.back();">뒤로가기</button>
    </div>
</div>
</body>
</html>