<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product/product-detail.css">
    <link rel="stylesheet" href="/css/board/review-list.css">
    <script src="/js/product/product-detail.js"></script> <!-- 외부 JavaScript 파일 연결 -->
    <!-- include libraries(jQuery, bootstrap) for SummerNote -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

    <title>상품 정보 페이지</title>

</head>
<body layout:fragment="content" th:object="${product}">
<div id="prod_detail_content">
    <div class="main-section">
        <img id="main-img" th:src="${product.prodMainImgPath}" alt="">
        <div class="product-info" th:object="${product.productOptions}">
            <div style="font-size: 18px; font-weight: bold;"><span th:text="${product.prodName}"></span></div><br>
            <ul class="flex-container">
                <div class="flex-items" >
                    <li>원가</li>
                </div>
                <div class="flex-items">
                    <li th:text="${#numbers.formatInteger(product.prodOriginPrice, 1, 'COMMA')+ ' 원'}"></li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items" >
                    <li>판매가</li>
                </div>
                <div class="flex-items">
                    <li><div id="prodSalesPrice" th:data-prod-sales-price="${product.prodSalesPrice}" th:text="${product.prodSalesPrice}" hidden></div></li>
                    <li>
                        <span th:value="${product.prodSalesPrice}" th:data-prod-sales-price="${product.prodSalesPrice}" th:text="${#numbers.formatInteger(product.prodSalesPrice, 1, 'COMMA')+ ' 원'}"></span>
                    </li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items" >
                    <li></li>
                </div>
                <div class="flex-items">
                    <li>
                        <span th:text="${#strings.concat('(', #numbers.formatInteger(product.prodOriginPrice - product.prodSalesPrice, 1, 'COMMA'), ' 원 할인)')}"></span>
                    </li>
                </div>
            </ul>
            <br/>
            <ul class="flex-container">
                <div class="flex-items">
                    <li>색상</li>
                </div>
                <div class="flex-items">
                    <li>
                        <select style="width: 100px;" id="colorSelect">
                            <option selected disabled>색상</option>
                            <option th:each="color : ${productColorSet}"
                                    th:value="${color}"
                                    th:text="${color}"
                                    th:data-prod-opt-color="${color}"></option>
                        </select>
                    </li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items">
                    <li>사이즈</li>
                </div>
                <div class="flex-items">
                    <li>
                        <select style="width: 100px;" id="sizeSelect">
                            <option selected disabled>사이즈</option>
                            <option th:each="size : ${productSizeSet}"
                                    th:value="${size}"
                                    th:text="${size}"
                                    th:data-prod-opt-size="${size}"></option>
                        </select>
                    </li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items" >
                    <li>개수</li>
                </div>
                <div class="flex-items">
                    <li><input id="quantity" name="quantity" type="number" style="width: 100px;" value="1" onchange="calculateTotalAmount()"></li>
                </div>
            </ul>
            <ul class="flex-container">
                <div class="flex-items" >
                    <li>총 주문금액</li>
                </div>
                <div class="flex-items">
                    <li>
                        <span id="totalAmount" th:text="${product.prodSalesPrice}"></span>
                    </li>
                </div>
            </ul>

            <!-- prodId hidden -->
            <div th:data-prod-id="${product.prodId}" th:name = "prodId" th:text="${product.prodId}" class="hidden"></div>
            <br/><br/>
            <div id="buttonContainer">
                <!-- 찜하기 버튼 -->
                <div id="jjimContainer">
                    <!-- 빈하트: 찜 추가 버튼 -->
                    <div id="jjimAdd" th:data-wish-list-id="${wishListId}">
                        <button th:data-prod-id="${product.prodId}" th:data-user-id="${userId}" onclick="jjimAdd(this)">

                            <img id="wish2" th:src="${'/images/wish2.png'}" alt="찜하기 이미지"></button>
                    </div>
                    <!-- 색하트: 찜 삭제 버튼 -->
                    <div id="jjimMinus">
                        <button th:data-prod-id="${product.prodId}" th:data-user-id="${userId}" onclick="jjimMinus(this)">
                            <img id="wish" th:src="${'/images/wish.png'}" alt="찜해제 이미지"></button>
                    </div>
                </div>
                <div>
                    <button class="btn btn-default" onclick="sendDataToCart(this)">장바구니</button>
                    <button class="btn btn-default" onclick="sendDataToDirectOrder(this)">바로 구매</button>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="sub_title">상세정보</div>
    <div id="div-img">
        <table>
            <tr th:if="${!#lists.isEmpty(product.prodDesc)}">
                <td id="td-desc">
                    <div th:utext="${product.prodDesc}" class="desc" id="desc"></div>
                </td>
            </tr>
            <tr th:each="productImages : ${productImageResponseDTO}">
                <td>
                    <div th:if="${#lists.isEmpty(productImages.productImages)}">
                        <p>첨부한 이미지가 없습니다.</p>
                    </div>
                    <div th:if="${!#lists.isEmpty(productImages.productImages)}">
                        <div class="detail-imgs" th:each="imgs : ${productImages.productImages}">
                            <img th:src="${imgs.prodServerFilePath}"/>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- 추가로 상세 정보를 넣으실 경우, 이 부분에 .details 블록을 계속 추가하시면 됩니다. -->
    <hr/>
    <div class="details-section">
        <div>
            <th:block th:replace="board/review-list :: reviewlist"> </th:block>
        </div>
    </div>
</div>
<form id="orderSubForm" action="/order/to-order" method="post">
    <input type="hidden" name="prodId" value="">
    <input type="hidden" name="color" value="">
    <input type="hidden" name="size" value="">
    <input type="hidden" name="quantity" value="">
    <input type="hidden" name="prodSalesPrice" value="">

</form>

<form id="cartSubForm" action="/user/cart/add" method="post">
    <input type="hidden" name="prodId" value="">
    <input type="hidden" name="color" value="">
    <input type="hidden" name="size" value="">
    <input type="hidden" name="quantity" value="">
    <input type="hidden" name="prodSalesPrice" value="">


    <!-- include summernote css/js for SummerNote -->
<!--    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>-->

</form>
<script src="/js/user/wishlist.js"></script>
</body>
</html>