<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 관리 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/product/product-management.css">
</head>
<body layout:fragment="content">
<div style="font-size: 24px; font-weight: bold; margin-bottom: 20px;">상품 관리</div>
    <section id="main">
        <table>
            <tbody>
                <tr>
                    <th>NO</th>
                    <th>상품명</th>
                    <th>상품코드</th>
                    <th>상품분류</th>
                    <th>등록일</th>
                    <th>등록자</th>
                    <th>판매등록</th>
                    <th>수정/삭제</th>
                </tr>
                <tr th:each="product : ${productList}">
                    <td th:text="${product.prodId}"></td>
                    <td th:text="${product.prodName}"></td>
                    <td th:text="${product.prodCode}"></td>
                    <td th:text="${product.prodCategory}"></td>
                    <td th:text="${product.prodRegDate}"></td>
                    <td>yeo****</td>
                    <td><button type="submit">NO</button></td>
                    <td><button type="submit">수정</button> <button type="submit">삭제</button></td>
                </tr>
            </tbody>
        </table>
        <nav class="page">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</body>
</html>