<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product/product-register.css">
    <script src="/js/product/product-register.js"></script> <!-- 외부 JavaScript 파일 연결 -->
    <title>상품 등록 페이지</title>
<style>
    tr.hidden {
    display: none;
}
</style>
</head>
<body layout:fragment="content">
<section class="main"></section>
<div th:text="${product.prodId == null} ? '상품 기본 정보 등록' : '상품 기본 정보 수정'" style="font-size: 18px; font-weight: bold;"></div>

<form th:action="${product.prodId != null} ? '/product/edit/' + ${product.prodId} : '/product/register'"
      th:object="${product}" class="qna-register" method="post">
    <table>
        <tr>
            <td class="title">상품명</td>
            <td class="content">
                <input type="text" th:field="*{prodName}" />
            </td>
        </tr>
        <tr>
            <td class="title">상품코드</td>
            <td class="content">
                <input type="text" th:field="*{prodCode}" />
            </td>
        </tr>
        <tr>
            <td class="title">원가</td>
            <td class="content">
                <input type="text" th:field="*{prodOriginPrice}" />
            </td>
        </tr>
        <tr>
            <td class="title">판매가격</td>
            <td class="content">
                <input type="text" th:field="*{prodSalesPrice}" />
            </td>
        </tr>
        <tr>
            <td class="title">상품대분류</td>
            <td class="content">
                <select th:field="*{prodCategory}" style="width: 100px;">
                    <option value="Top">Top</option>
                    <option value="Bottom">Bottom</option>
                    <option value="Outer">Outer</option>
                    <option value="Dress">Dress</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Bag">Bag</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="title">상품상세분류</td>
            <td class="content">
                <input type="text" th:field="*{prodCategoryDetail}" />
            </td>
        </tr>

        <!-- 숨김 처리 정보 -->
        <input type="text" th:field="*{prodRegDate}" readonly class="hidden"/>
        <input type="text" th:field="*{prodMainImgPath}" readonly class="hidden"/>
        <tr class="hidden">
            <!-- prod_sales_dist가 null이면 'NO'로 출력, 그렇지 않으면 현재 값으로 출력 -->
            <td class="title">상품판매등록여부</td>
            <td class="content">
                <input type="text" th:if="${product.prodSalesDist == null}">NO</input>
                <input type="text" th:unless="${product.prodSalesDist == null}" th:field="${product.prodSalesDist}" />
            </td>
        </tr>
    </table>

    <div>
        <th:block th:replace="product/product-register-option :: option"></th:block>
    </div>

    <div class="buttons">
        <button type="submit" th:text="${product.prodId != null} ? '수정하기' : '등록하기'" th:data-product-id="${product.prodId}">등록하기</button>
<!--        <button type="submit" th:text="${product.prodId != null} ? '수정하기' : '등록하기'" th:data-product-id="${product.prodId}"-->
<!--                onclick="|location.href='@{/product/product-register-detail/{prodId}(prodId=${product.prodId})}'|" >등록하기</button>-->
    </div>
    <script>
    document.getElementById('productForm').addEventListener('submit', function (event) {
    // 폼이 submit되었을 때 실행되는 함수
    event.preventDefault(); // 기본 submit 동작을 막음

    // AJAX를 사용하여 비동기적으로 폼을 제출
    $.ajax({
    type: 'POST',
    url: $('#productForm').attr('action'),
    data: $('#productForm').serialize(),
    success: function (data) {
    // 성공 시, data에는 서버로부터의 응답이 포함될 수 있음
    // 여기서 data에는 생성된 prodId가 포함되어 있다고 가정

    // 생성된 prodId를 사용하여 새로운 URL로 이동
    var newUrl = '/product/product-register-detail/' + data.prodId;
    window.location.href = newUrl;
    },
    error: function (error) {
    console.error('폼 제출 중 오류 발생: ', error);
    }
    });
    });
    </script>
</form>

</body>
</html>