@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../side-nav-for-user.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
    font-family: 'Nanum Gothic', sans-serif;
}

#order_content{
    width: 80%;
    text-align: left;
}
.order_mini_title{
    font-weight: bold;
    font-size: 16px;
    padding-top: 5%;
    padding-bottom: 2%;
}

#order_info{
	text-align: center;
}

.order_prod_img{
    margin: 1em;
    width: 6em;
    height: 10em;
    object-fit: cover;
}

#prodOriginPriceInput{
    text-decoration:line-through;
}

tr {
	padding: 1em 0;
}

.non {
    width: 10%;
    border: 0;
    text-align: center;
}

input[type="text"]  {
	width: 85%;
	height: 2em;
	font-size: 16px;
}

#paymentBox{
    text-align: right;
}