@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../side-nav-for-user.css);

table{
	margin: 3em 0;
	width: 90%;
}

#order_info{
	text-align: center;
}

tr {
	padding: 1em 0;
}

.non {
border: 0;
text-align: center;
}

input[type="radio"] {
    transform: scale(0.8); /* 라디오 버튼 크기 조절 */
}

input {
	width: 85%;
	height: 2em;
	font-size: large;
}

.my-btn{
	margin-right: 10%;
}