<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout-admin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OyeongShop</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<!--    <script src="/js/admin/ad_index.js"></script>-->
</head>
<body layout:fragment="content">
<div id="admin_content">
    <table>
        <tr>
            <td>
                <h2 class="sub_title">주문현황</h2>
            </td>
            <td>
                <h2 class="sub_title">문의 현황</h2>
            </td>
        </tr>
        <tr>
            <td>
                <canvas id="bar-chart" width="400" height="400"></canvas>
            </td>
            <td>
                <canvas id="pie-chart" width="400" height="400"></canvas>
            </td>
        </tr>
        <tr>
            <td>
                <a>배송 관리하기</a>
            </td>
            <td>
                <a>문의 관리하기</a>
            </td>
        </tr>
    </table>
</div>
<script>
    new Chart(document.getElementById("bar-chart").getContext('2d'), {
type: 'bar',
data: {
  labels: ['결제 완료', '출고 준비 중', '출고 완료', '교환 및 환불'],
  datasets: [
    {
      label: "주문 현황 (건)",
      backgroundColor: ["#d6ccc2", "#d5bdaf","#e3d5ca","#f5ebe0"],
      data: [2478,5267,734,784,433]
    }
  ]
},
options: {
  legend: { display: false },
  title: {
    display: false
  }
}
});

new Chart(document.getElementById("pie-chart").getContext('2d'), {
type: 'pie',
data: {
  labels: ['상품문의', '배송 문의', '주문 문의', '교환 및 환불 문의'],
  datasets: [
    {
      label: "문의 현황 (건)",
      backgroundColor: ["#ccd5ae", "#fefae0","#e9edc9","#faedcd"],
      data: [2478,5267,734, 433]
    }
  ]
},
options: {
  legend: { display: false },
  title: {
    display: false
  }
}
});
</script>
</body>
</html>