<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout-admin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 관리 페이지</title>
    <link rel="stylesheet" href="/css/admin/product-management.css">
</head>
<body layout:fragment="content">
<div id="prod_manage_content">
<h2 class="sub_title">상품 관리</h2>
<!--<div class="table-name">상품 관리</div>-->
    <section id="main">
        <table class="table">
            <tbody>
                <tr>
                    <th style="width: 1rem;">NO</th>
                    <th style="width: 20rem;">상품명</th>
                    <th style="width: 7rem;">상품코드</th>
                    <th style="width: 7rem;">상품분류</th>
                    <th style="width: 13rem;">등록일</th>
                    <th style="width: 6rem;">등록자</th>
                    <th style="width: 5rem;">판매등록</th>
                    <th style="width: 5rem;">수정</th>
                </tr>
            <tbody>
                <tr th:each="product : ${productList}">
                    <td th:text="${product.prodId}"></td>
                    <td th:text="${product.prodName}" style="text-align: left"></td>
                    <td th:text="${product.prodCode}"></td>
                    <td th:text="${product.prodCategory}"></td>
                    <td th:text="${product.prodRegDate}"></td>
                    <td sec:authentication="name"></td>
                    <td>
                        <button type="submit" style="display: inline;"
                                th:class="${product.prodSalesDist == 'YES'} ? 'btn btn-success toggleButton buttons' : 'btn btn-danger toggleButton buttons'"
                                th:text="${product.prodSalesDist}"
                                th:data-product-id="${product.prodId}"
                                onclick="toggleProductStatus(this)"></button>
                    </td>
                    <td><a th:href="'/admin/product/edit/' + ${product.prodId}" class="btn btn-warning">수정</a></td>
                </tr>
            </tbody>
        </table>
        <nav class="page" th:if="${totalPages != null and totalPages > 1}">
            <ul class="pagination">
                <li th:if="${currentPage > 1}">
                    <a th:href="'/admin/product/management?page=1'" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="page, iterStat : ${#numbers.sequence(1, totalPages)}" th:class="${page == currentPage} ? 'active' : ''">
                    <a th:href="'/admin/product/management?page=' + ${page}" th:text="${page}"></a>
                </li>
                <li th:if="${currentPage < totalPages}">
                    <a th:href="'/admin/product/management?page=' + ${totalPages}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/admin/product-management.js"></script> <!-- 외부 JavaScript 파일 연결 -->
</body>
</html>
