<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout-admin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 관리 페이지</title>
    <link rel="stylesheet" href="/css/admin/product-management-search.css">
</head>
<body layout:fragment="content">
<div style="font-size: 24px; font-weight: bold; margin-bottom: 20px;">상품 관리</div>
    <section id="main">
        <table>
            <tbody>
                <tr class="searchtr">
                    <th class="searchth">NO</th>
                    <th class="searchth">상품명</th>
                    <th class="searchth">상품코드</th>
                    <th class="searchth">상품분류</th>
                    <th class="searchth">등록일</th>
                    <th class="searchth">등록자</th>
                    <th class="searchth">판매등록</th>
                    <th class="searchth">수정</th>
                </tr>
                <tr th:each="product : ${productListSearch}">
                    <td class="searchtd" th:text="${product.prodId}"></td>
                    <td class="searchtd" th:text="${product.prodName}"></td>
                    <td class="searchtd" th:text="${product.prodCode}"></td>
                    <td class="searchtd" th:text="${product.prodCategory}"></td>
                    <td class="searchtd" th:text="${product.prodRegDate}"></td>
                    <td class="searchtd">yeo****</td>
                    <td class="searchtd">
                        <button class="btn" type="submit" style="display: inline;"
                                th:class="${product.prodSalesDist == 'YES'} ? 'btn btn-success toggleButton' : 'btn btn-danger toggleButton'"
                                th:text="${product.prodSalesDist}"
                                th:data-product-id="${product.prodId}"
                                onclick="toggleProductStatus(this)"></button>
                    </td>
                    <td class="searchtd"><a th:href="'/admin/product/edit/' + ${product.prodId}" class="btn btn-warning">수정</a></td>
                </tr>
            </tbody>
        </table>
        <nav class="page" th:if="${totalPages != null and totalPages > 1}">
            <ul class="pagination">
                <li th:if="${currentPage > 1}">
                    <a th:href="'/admin/product/management?page=1'" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="page, iterStat : ${#numbers.sequence(1, totalPages)}" th:class="${page == currentPage} ? 'active' : ''">
                    <a th:href="'/admin/product/management?page=' + ${page}" th:text="${page}"></a>
                </li>
                <li th:if="${currentPage < totalPages}">
                    <a th:href="'/admin/product/management?page=' + ${totalPages}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/admin/product-management.js"></script> <!-- 외부 JavaScript 파일 연결 -->
</body>
</html>
