<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout-admin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admit/product-register.css">
    <script src="/js/admit/product-register.js"></script> <!-- 외부 JavaScript 파일 연결 -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <title>상품 등록 페이지</title>

</head>
<body th:fragment="option" th:object="${productOption}">
<section class="main"></section>
<!-- 수정 예정 -->
<style>
    .button-OptionTable {
        position: relative;
        margin-bottom: 10px;
    }

    .button-OptionTable .btn {
        position: absolute;
        top: 0;
        right: 0;
    }
</style>
<div th:text="${product.prodId == null} ? '상품 옵션 정보 등록' : '상품 옵션 정보 수정'" style="font-size: 18px; font-weight: bold;"></div>
    <table id="optionTable">
        <tbody>
            <tr class="button-OptionTable">
                <button type="button" class="btn btn-success" onclick="addRow()"> + </button>
                <button type="button" class="btn btn-success" onclick="removeRow()"> - </button>
            </tr>
            <tr>
                <td class="title">색상</td>
                <td class="title">사이즈</td>
                <td class="title">재고</td>
            </tr>
            <tr th:if="${product.prodId == null}" th:each="productOptions : ${productOption}">
                <td><input type="text" th:field="*{prodOptColor}"/></td>
                <td><input type="text" th:field="*{prodOptSize}"/></td>
                <td><input type="number" th:field="*{prodOptAmount}"/></td>
            </tr>
            <tr th:if="${product.prodId != null}" th:each="productOptions : ${productOption}">
                <td><input type="text" th:name="prodOptColor" th:value="${productOptions.prodOptColor}"/></td>
                <td><input type="text" th:name="prodOptSize" th:value="${productOptions.prodOptSize}"/></td>
                <td><input type="number" th:name="prodOptAmount" th:value="${productOptions.prodOptAmount}"/>
                    <input type="text" th:name="prodOptId" th:value="${productOptions.prodOptId}" class="hidden"/></td>
            </tr>
        </tbody>

<!--        <td class="title">상품대분류</td>-->
<!--        <td class="content">-->
<!--            <select th:field="${product.prodCategory}" style="width: 100px;" th:value="${product.prodCategory}">-->
<!--                <option value="Top">Top</option>-->
<!--                <option value="Bottom">Bottom</option>-->
<!--                <option value="Outer">Outer</option>-->
<!--                <option value="Dress">Dress</option>-->
<!--                <option value="Shoes">Shoes</option>-->
<!--                <option value="Bag">Bag</option>-->
<!--            </select>-->
<!--        </td>-->

    </table>

</body>
</html>