<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OyeongShop</title>
    <link href="/css/order/order.css" rel="stylesheet" type="text/css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 포트원 결제 -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var orderUser = /*[[${orderUser}]]*/ null;
        /*]]>*/
    </script>
</head>
<body layout:fragment="content">
<div id="order_content">
    <h2  class="sub_title">Order</h2>
    <form id="orderForm">
        <h3 class="order_mini_title">주문상품</h3>
        <table id="order_info" class="table">
            <tr>
                <td colspan="2">상품 정보</td>
                <td>판매가</td>
                <td>수량</td>
                <td>색상</td>
                <td>사이즈</td>
                <td>합계</td>
            </tr>
            <!-- 상품 정보 -->
            <tr th:each="orderItem, itemStat : ${Items.orders}">
                <input type="hidden" id="prodOptIdInput" th:name="__${'orderItems[' + itemStat.index + '][prodOptId]'}__" th:value="${orderItem.prodOptId}">
                <td>
                    <img class="order_prod_img" alt="이미지" th:src="${orderItem.prodMainImgPath}">
                </td>
                <td th:text="${orderItem.productName}"></td>
                <td>
                    <input type="text" id="prodOriginPriceInput" th:name="__${'orderItems[' + itemStat.index + '][prodOriginPrice]'}__" th:value="${orderItem.prodOriginPrice}" readonly="readonly" class="non"><br>
                    <input type="text" id="prodSalesPriceInput" th:name="__${'orderItems[' + itemStat.index + '][prodSalesPrice]'}__" th:value="${orderItem.prodSalesPrice}" readonly="readonly" class="non">
                </td>
                <td>
                    <input type="text" id="quantityInput" th:name="__${'orderItems[' + itemStat.index + '][quantity]'}__" th:value="${orderItem.quantity}" readonly="readonly" class="non">
                </td>
                <td>
                    <input type="text" id="colorInput" th:name="__${'orderItems[' + itemStat.index + '][color]'}__" th:value="${orderItem.color}" readonly="readonly" class="non">
                </td>
                <td>
                    <p th:text="${orderItem.size.toString().equals('0') ? 'Free' :
                                  orderItem.size.toString().equals('85') ? 'XS' :
                                  orderItem.size.toString().equals('90') ? 'S' :
                                  orderItem.size.toString().equals('95') ? 'M' :
                                  orderItem.size.toString().equals('100') ? 'L' :
                                  orderItem.size}"></p>
                    <input type="text" id="sizeInput" th:name="__${'orderItems[' + itemStat.index + '][size]'}__" th:value="${orderItem.size}" class="non" hidden="hidden">
                </td>
                <td id="itemAmount" th:text="${orderItem.itemAmount}"></td>
            </tr>
            <!-- 결제 예정 금액 -->
            <tr>
                <td>총합계 금액:</td>
                <td colspan="6" th:text="${#numbers.formatInteger(Items.totalOrderPayment, 3, 'COMMA')}+'원'"></td>
            </tr>
        </table>
        <h3 class="order_mini_title">배송지</h3>
        <table class="table">
            <tr>
                <td>배송지 선택</td>
                <td>
                    <input type = "radio" name = "addrType" value = "home" checked>집
                </td>
                <td>
                    <input type = "radio" name = "addrType" value = "newPlace" >새로운 배송지
                </td>
            </tr>
            <tr>
                <td>받으시는 분</td>
                <td colspan="2"><input type="text" id = "orderAttnName" name = "orderAttnName" th:value="${orderUser.userAttnName}"  required/></td>
            </tr>
            <tr>
                <td>휴대폰</td>
                <td colspan="2"><input type="tel" id = "orderAttnPhone" name = "orderAttnPhone" th:value="${orderUser.userAttnPhone}" required/></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td colspan="2"><input type="email" id = "orderAttnEmail" name = "orderAttnEmail" th:value="${orderUser.userAttnEmail}"  required/></td>
            </tr>
            <tr>
                <td>우편번호</td>
                <td>
                    <input type="text" id = "orderAttnPostcode" name = "orderAttnPostcode" th:value="${orderUser.userAttnPostcode}"
                           placeholder="우편번호" readonly  required/>
                </td>
                <td>
                    <input type="button" onclick="sample6_execDaumPostcode()"
                           value="우편번호 찾기" class="my-btn">
                </td>
            </tr>
            <tr>
                <td rowspan="3">주소</td>
                <td colspan="2">
                    <input type="text" id = "orderAttnAddr1" name = "orderAttnAddr1" th:value="${orderUser.userAttnAddr1}" placeholder="주소">
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="text"  id = "orderAttnAddr2" name = "orderAttnAddr2" th:value="${orderUser.userAttnAddr2}"
                                       placeholder="참고주소"  required readonly></td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" id = "orderAttnDetail" name = "orderAttnDetail" th:value="${orderUser.userAttnDetail}"
                                       placeholder="상세주소"  required></td>
            </tr>
            <tr>
                <td>배송 요청사항</td>
                <td colspan="2"><input type="text" id = "orderAttnRequest" name = "orderAttnRequest" th:value="${userAttnRequest}" placeholder="배송 요청사항"></td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        </table>

        <h3 class="order_mini_title">결제 요약</h3>
        <table class="table">
            <tr>
                <td>총 주문금액</td>
                <td>
                    <p th:text="${#numbers.formatInteger(Items.orderTotalOriginPrice, 3, 'COMMA')}+'원'"></p>
                    <input id="orderTotalOriginPrice" th:name = "orderTotalOriginPrice"
                           th:value="${Items.orderTotalOriginPrice}"
                           hidden="hidden"/>
                </td>
            </tr>
            <tr>
                <td>결제 예정 금액</td>
                <td>
                    <p th:text="${#numbers.formatInteger(Items.totalOrderPayment, 3, 'COMMA')}+'원'"></p>
                    <input id="orderTotalPayment" th:name = "orderTotalPayment"
                           th:value="${Items.totalOrderPayment}" hidden="hidden"/>
                </td>
            </tr>
            <tr>
                <td>포인트 결제 금액</td>
                <td>
                    <p>0원 </p>
                    <input readonly="readonly" value="0" hidden="hidden"/>
                </td>
            </tr>
            <tr>
                <td>최종 결제 금액</td>
                <td>
                    <p th:text="${#numbers.formatInteger(Items.totalOrderPayment, 3, 'COMMA')}+'원'"></p>
                    <input id="totalOrderPayment" th:name = "totalOrderPayment" th:value="${Items.totalOrderPayment}" hidden="hidden"/>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
        <div id="paymentBox">
            <button class="btn btn-default" type="button" onclick="KGpay()">결제하기</button>
        </div>
    </form>
</div>
<script src="/js/order/order.js"></script>
</body>
</html>