<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OyeongShop</title>
    <link href="/css/order/order-detail.css" rel="stylesheet" type="text/css"/>
</head>
<body layout:fragment="content">
<div id="container">
    <!-- right :: 주문정보페이지 -->
    <div id="right">
        <table id="orderInfo">
            <thead>
            <tr>
                <th colspan="2">주문정보</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>주문번호</td>
                <td>5202020020</td>
            </tr>
            <tr>
                <td>주문일자</td>
                <td>2023/10/30</td>
            </tr>
            <tr>
                <td>주문자</td>
                <td>OOO</td>
            </tr>
            <tr>
                <td>주문처리상태</td>
                <td>배송완료</td>
            </tr>
            <tr>
                <th colspan="2">결제정보</th>
            </tr>
            <tr>
                <td>총 주문금액</td>
                <td>105,500 원</td>
            </tr>
            <tr>
                <td>총 할인금액 (할인금액 + 적립금 사용)</td>
                <td>5,280 원</td>
            </tr>
            <tr>
                <td>총 결제금액</td>
                <td>97,220원</td>
            </tr>
            <tr>
                <th colspan="7">주문상품정보</th>
            </tr>
            <tr>
                <th>이미지</th>
                <th>상품명</th>
                <th>판매가</th>
                <th>수량</th>
                <th>색상</th>
                <th>사이즈</th>
                <th>합계</th>
            </tr>
            <tr>
                <td><img alt="이미지" src="upload/${mainImg}"></td>
                <td>${productName}</td>
                <td><input type="text" name="price" value="${price}" readonly="readonly" class="non"></td>
                <td><input type="text" name="orderQuantity" value="${quantity}" readonly="readonly" class="non"></td>
                <td><input type="text" name="orderColor" value="${color}" readonly="readonly" class="non"></td>
                <td><input type="text" name="orderSize" value="${size}" readonly="readonly" class="non"></td>
                <td>${price*quantity}</td>
            </tr>
            <tr>
                <th colspan="2">배송지정보</th>
            </tr>
            <tr>
                <td>받으시는 분</td>
                <td>아몰리</td>
            </tr>
            <tr>
                <td>우편번호</td>
                <td>08888</td>
            </tr>
            <tr>
                <td>주소</td>
                <td>서울시 ~!</td>
            </tr>
            <tr>
                <td>휴대전화</td>
                <td>010-0000-0000</td>
            </tr>
            <tr>
                <th colspan="2">배송메시지</th>
            </tr>
            <tr>
                <td>배송메시지</td>
                <td>빠른 배송 부탁드립니다.</td>
            </tr>
            </tbody>
        </table>
        <button type="button">주문목록보기</button>
    </div>
</div>
</body>
</html>