<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OyeongShop</title>
    <link href="/css/order/order-list.css" rel="stylesheet" type="text/css"/>
</head>

<body layout:fragment="content">
<div id="container">
    <div id="right">
        <!-- Right Content - 주문내역 폼 -->
        <div id="orderList">
            <!-- 페이지 이름 -->
            <div id="titleArea">
                <h2> ORDER LIST </h2>
            </div>
            <div id="baseTap">
                <ul class="menu">
                    <li class="orderHistory">
                        <a href="/order/order-list">주문내역조회 (
                            <span id="totalOrder" th:text="${orderList.size()}"></span>
                            )
                        </a>
                    </li>
                    <li class="orderCs">
                        <a href="/order/return-list">취소/반품 내역(
                            <span id="totalOrderCs">0</span>
                            )
                        </a>
                    </li>
                </ul>
            </div>
            <form method="GET" id="OrderHistoryForm" name="OrderHistoryForm">
                <div class="orderHistoryHead">
                    <fieldset class="baseBox">
                        <legend>검색기간설정</legend>
                        <div class="stateSelect">
                            <select id="order_status" name="order_status" class="osSelect">
                                <option value="all">전체 주문처리상태</option>
                                <option value="completed_payment">결제 완료</option>
                                <option value="shipped_standby">출고 준비중</option>
                                <option value="shipped_begin">출고 완료</option>
                                <option value="shipping">상품 배송중</option>
                                <option value="delivered">배송 완료</option>
                                <option value="canceled">주문 취소</option>
                                <option value="return_processing">반품 진행중</option>
                                <option value="refuned">반품 완료</option>
                            </select>
                        </div>
                        <span class="period">
                                <button type="button" class="dateBtn" value="0">오늘</button>
                                <button type="button" class="dateBtn" value="7">일주일</button>
                                <button type="button" class="dateBtn" value="90">3개월</button>
                            </span>
                        <input id="history_end_date" name="history_end_date" class="ipDate" value="2023-10-30"
                               type="text">
                        <button type="button" class="ui_calendar">
                            <img id="calendarImg" src="/images/order/calendar.png" alt="달력">
                        </button>
                        ~
                        <input id="history_start_date" name="history_start_date" class="ipDate" value="2023-10-30"
                               type="text">
                        <button type="button" class="ui_calendar">
                            <img id="calendarImg" src="/images/order/calendar.png" alt="달력">
                        </button>
                        <button type="button" class="ui_search">
                            <img id="searchImg" src="/images/돋보기.svg" alt="검색">
                        </button>
                    </fieldset>
                    <ul>
                        <li>기본적으로 최근 3개월 간의 자료가 조회되며, 기간 검색시 지난 주문내역을 조회하실 수 있습니다.</li>
                        <li>주문번호를 클릭하시면 해당 주문에 대한 상세내역을 확인하실 수 있습니다.</li>
                    </ul>
                </div>
            </form>
            <div class="HistoryBaseTable">
                <div class="HItitle">
                    <h3>주문 상품 정보</h3>
                </div>
                <table border="1">
                    <br>
                    <colgroup>
                        <col style="width:7em">
                        <col style="width:10em">
                        <col style="width:23em">
                        <col style="width:3em">
                        <col style="width:7em">
                        <col style="width:7em">
                        <col style="width:7em">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">
                            주문일자
                            <br>
                            [주문번호]
                        </th>
                        <th scope="col">이미지</th>
                        <th scope="col">상품정보</th>
                        <th scope="col">수량</th>
                        <th scope="col">상품구매금액</th>
                        <th scope="col">주문처리상태</th>
                        <th scope="col">취소/반품</th>
                        <!-- <th scope="col">취소/교환/반품</th> -->
                    </tr>
                    </thead>
                    <tbody class="center">
                    <div th:each="order : ${orderList}">
                        <tr class="OrderProdLine" th:each="orderDetail,status : ${order.orderDetailList}">
                        <!--주문번호, 주문날짜 (묶여야되는 곳)-->
                            <td class="number" th:if="${status.index==0}" th:attr="rowspan=${order.orderDetailList.size()}">
                                <!--                            <td th:attr="rowspan=${order.orderDetailList.size()}" class="number">-->
                                <span th:text="${order.orderDate}"></span>
                                <p>
                                    <a th:href="@{'/order/order-detail/' + ${order.orderId}}" class="line">
                                        [<span th:text="${order.orderNumber}"></span>]
                                    </a>
                                </p>
                                <!--                            &lt;!&ndash; 주문취소 가능시 : &ndash;&gt;-->
                                <!--                            <button type="button" onclick="주문취소기능추가">주문취소</button>-->
                                <!--                            &lt;!&ndash; 반품 가능시 : &ndash;&gt;-->
                                <!--                            <button type="button" onclick="반품신청기능추가">반품신청</button>-->
                            </td>
                            <td class="Thumb">
                                <a href="해당 제품 경로">
                                    <img th:src="${orderDetail.prodMainImgPath}">
                                </a>
                            </td>
                            <td class="ProductLeftTop">
                                <a th:href="@{'/product/detail/' + ${orderDetail.prodId}}" class="line">
                                    [<strong th:text="${orderDetail.prodName}"></strong>]
                                </a>
                                <div class="Option">
                                    <p th:text="'[옵션 : ' + ${orderDetail.prodOptColor} + '/' + ${orderDetail.prodOptSize} + ']'"></p>
                                </div>
                            </td>
                            <td><p th:text="${orderDetail.orderDetailAmount}"></p></td>
                            <td class="rignt">
                                <strong th:text="${orderDetail.orderDetailSalesPrice}"></strong>
                            </td>
                            <td class="State">
                                <div th:switch="${orderDetail.orderStatus}">
                                    <p class="TxtState" th:case="'PAYMENT_ACCEPTED'">결제완료</p>
                                    <p class="TxtState" th:case="'IN_PROGRESS'">출고준비중</p>
                                    <p class="TxtState" th:case="'SHIPPED'">출고완료</p>
                                    <p class="TxtState" th:case="'ON_DELIVERY'">상품배송중</p>
                                    <p class="TxtState" th:case="'DELIVERED'">배송완료</p>
                                    <p class="TxtState" th:case="'RETURN'">반품</p>
                                    <!-- 다른 주문 상태에 따른 텍스트 추가 -->
                                    <p class="TxtState" th:case="CANCELLATION">취소</p>
                                </div>
                                <!--                                        <p class>-->
                                <!--                                            <a href="배송사 연동 링크" target="_blank">우체국택배(연동)</a>-->
                                <!--                                        </p>-->
                                <!--                                        <p class>-->
                                <!--                                            <a href="#none" class="line"-->
                                <!--                                               onclick="window.open('배송정보링크', '', 'scrollbars=yes, resezeable=0, status=0, directories=0, toolbar=0'); return false;">[50506060666]</a>-->
                                <!--                                        </p>-->
                                <form th:if="${orderDetail.orderStatus == 'ON_DELIVERY' or orderDetail.orderStatus == 'DELIVERED'}"
                                      th:action="@{/board/review-write/{prodId}(prodId=${orderDetail.prodId})}"
                                      method="get">
                                    <button type="submit">리뷰 쓰기</button>
                                </form>
                            </td>
                            <td>
                                <th:block th:switch="${orderDetail.orderStatus}">
                                    <p th:case="'CANCELLATION'">취소</p>
                                    <p th:case="'RETURN'">반품</p>
                                    <!-- 다른 주문 상태에 대한 처리를 추가할 수 있습니다. -->
                                    <p th:case="*"> - </p>
                                </th:block>
                            </td>

                    </div>
                    </tbody>
                </table>
            </div>
            <!-- 페이지 번호 부분 -->
            <div class="paginate">
                <ul>
                    <!-- 이전 페이지 링크 -->
                    <li th:if="${order.hasPrevious()}">
                        <a th:href="@{'/order/order-list/' + (order.getNumber() - 1)}" class="first">
                            <img src="/images/order/prepre.gif">
                        </a>
                    </li>

                    <!-- 페이지 번호 링크 -->
                    <li th:each="i : ${#numbers.sequence(0, order.totalPages - 1)}">
                        <a th:href="@{'/order/order-list/' + i}" th:class="${order.number == i} ? 'this' : ''" th:text="${i + 1}" />
                    </li>

                    <!-- 다음 페이지 링크 -->
                    <li th:if="${order.hasNext()}">
                        <a th:href="@{'/order/order-list/' + (order.getNumber() + 1)}" class="first">
                            <img src="/images/order/nex.gif">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>