<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OyeongShop</title>
    <link href="/css/order/order-detail.css" rel="stylesheet" type="text/css"/>
</head>
<body layout:fragment="content">
<div id="container">
    <!-- right :: 주문정보페이지 -->
    <div id="right">
        <table id="orderInfo">
            <thead>
            <tr>
                <th colspan="2">주문정보</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>주문번호</td>
                <td><div th:text="${Order.orderNumber}"></div></td>
            </tr>
            <tr>
                <td>주문일자</td>
                <td><div th:text="${Order.orderDate}"></div></td>
            </tr>
            <tr>
                <td>주문처리상태</td>
                <td><div th:text="${Order.orderStatus}"></div></td>
            </tr>
            <tr>
                <th colspan="2">결제정보</th>
            </tr>
            <tr>
                <td>총 주문금액</td>
                <td><div th:text="${Order.orderOriginPrice}"></div></td>
            </tr>
            <tr>
                <td>총 할인금액 (할인금액 + 적립금 사용)</td>
                <td><div th:text="${Order.orderDiscount}"></div></td>
            </tr>
            <tr>
                <td>총 결제금액</td>
                <td><div th:text="${Order.orderTotalPayment}"></div></td>
            </tr>
            <tr>
                <th colspan="7">주문상품정보</th>
            </tr>
            <tr>
                <td>이미지</td>
                <td>상품명</td>
                <td>판매가</td>
                <td>수량</td>
                <td>색상</td>
                <td>사이즈</td>
                <td>합계</td>
            </tr>

            <div th:each="orderDetailItem : ${OrderDetails.orderDetailItems}">
            <tr>
                <td><input type="hidden" value = "${orderDetailItem.prodId}"></td>
                <td><img alt="이미지" th:src="orderDetailItem.prodMainImgPath}"></td>
                <td><input type="text" th:name="prodName" th:value="${orderDetailItem.prodName}" readonly="readonly"></td>
                <td><input type="text" th:name="originPrice" th:value="${orderDetailItem.prodOriginPrice;}" readonly="readonly"><br><input type="text" th:name="price" th:value="${orderDetailItem.prodSalesPrice;}" readonly="readonly"></td>
                <td><input type="text" th:name="orderQuantity" th:value="${orderDetailItem.quantity}" readonly="readonly"></td>
                <td><input type="text" th:name="orderColor" th:value="${orderDetailItem.color}" readonly="readonly"></td>
                <td><input type="text" th:name="orderSize" th:value="${orderDetailItem.size}" readonly="readonly"></td>
                <td><input type="text" th:name="itemAmount" th:value="${orderDetailItem.itemAmount}" readonly="readonly"></td>
                <td><button type="submit">리뷰 쓰기</button></td>
            </tr>
            </div>
            <tr>
                <th colspan="2">배송지정보</th>
            </tr>
            <tr>
                <td>받으시는 분</td>
                <td><div th:text="${Order.orderAttnName}"></div></td>
            </tr>
            <tr>
                <td>휴대폰</td>
                <td><div th:text="${Order.orderAttnPhone}"></div></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><div th:text="${Order.orderAttnEmail}"></div></td>
            </tr>
            <tr>
                <td>우편번호</td>
                <td><div th:text="${Order.orderAttnPostcode}"></div></td>
            </tr>
            <tr>
                <td>주소</td>
                <td><div th:text="${Order.orderAttnAddr1}"></div></td>
            </tr>
            <tr>
                <td>참고주소</td>
                <td><div th:text="${Order.orderAttnAddr2}"></div></td>
            </tr>
            <tr>
                <td>상세주소</td>
                <td><div th:text="${Order.orderAttnAddr2}"></div></td>
            </tr>
            <tr>
                <td>배송 요청사항</td>
                <td><div th:text="${Order.orderAttnRequest}"></div></td>
            </tr>
            </tbody>
        </table>
        <button type="button">주문목록보기</button>
    </div>
</div>
</body>
</html>