@import url(../reset.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../common.css);
@import url(../side-nav-for-user.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
    font-family: 'Nanum Gothic', sans-serif;
}

#myinfo-content{
    justify-content: center;
    min-height: 32em;
    display: flex;
}

#myinfo-content-left{
    width: 45%;
    height: 100%;
    position : relative;
}

#myinfo-content-right{
    padding: 1em;
    width: 45%;
    height: 100%;
    overflow:hidden;
}

.myinfo-title{
    display: flex;
    justify-content: center;
    align-items: center;

}

.myinfo-where{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    margin: auto;
    vertical-align: middle;
}

td{
    text-align: center;
}

#submit-btn{
    text-align: right;
}