<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/board/qna-product-modify.css">
</head>
<body layout:fragment="content">
    <h2>Q&A 수정하기</h2>
    <form class="qna-register" action="">
        <table>
            <tr>
                <td class="title">문의 카테고리</td>
                <td class="content">상품</td>
            </tr>
            <tr>
                <td class="title">작성자</td>
                <td class="content">yeong1234</td>
            </tr>
            <tr>
                <td class="title" id="coltitle">상품명</td>
                <td class="content">브이넥 니트</td>
            </tr>
            <tr>
                <td class="title" id="title">제목</td>
                <td class="content"><input type="text" class="form-control" placeholder="제목을 입력하세요"></td>
            </tr>
            <tr>
                <td class="title">내용</td>
                <td class="content"><textarea class="form-control" rows="6"></textarea></td>
            </tr>

        </table>
        <div class="buttons">
            <input class="btn btn-default" type="button" value="취소하기">
            <input class="btn btn-default" type="submit" value="수정하기">
        </div>
    </form>

</body>
</html>