<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <title>OyeongShop</title>
    <link rel="stylesheet" href="/css/board/qna-board-write.css">
</head>
<body layout:fragment="content">
<h2>Q&A 등록하기</h2>
    <form class="qna-register" action="">
        <table>
            <tr>
                <td class="title">문의 카테고리</td>
                <td class="content"><select id="combo">
                    <option value="주문">주문</option>
                    <option value="배송">배송</option>
                    <option value="환불">환불</option>
                </select></td>
            </tr>
            <tr>
                <td class="title">작성자</td>
                <td class="content">yeong1234</td>
            </tr>
            <tr>
                <td class="title" id="coltitle">상품명</td>
                <td class="content"><input type="text"></td>
            </tr>
            <tr>
                <td class="title" id="title">제목</td>
                <td class="content"><input type="text"></td>
            </tr>
            <tr>
                <td class="title">내용</td>
                <td class="content"><textarea></textarea></td>
            </tr>
            <tr>
                <td class="title">비밀번호</td>
                <td class="content"><input type="text" placeholder="숫자 4자리"></td>
            </tr>
            <tr>
                <td class="title">공개 유무</td>
                <td class="content">
                    <input class="radio"type="radio" name="openflag" value="public"> 공개
                    <input class="radio" type="radio" name="openflag" value="private"> 비공개
                </td>
            </tr>

        </table>
        <div class="buttons">
            <button type="button">취소하기</button>
            <button type="submit">작성하기</button>
        </div>
    </form>
</body>
</html>