<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/board/review-list.css">
</head>
<!--<body layout:fragment="reviewlist">-->
<body th:fragment="reviewlist">
<div  id="review_lst_content">
    <h2 class="sub_title">Review</h2>
    <!-- 리뷰 id 개수만큼 반복 -->
    <table>
        <th:block  th:each="reviews : ${reviewdto}">
            <tr>
                <td colspan="4">
                    <div class="id" th:text="${reviews.userId}+' | '+${reviews.reviewWriteDate}">유저아이디+작성일</div>
                    <div th:if="${reviews.reviewRate.toString().equals('1')}">
                        <p id="review_rate">★☆☆☆☆</p>
                    </div>
                    <div th:if="${reviews.reviewRate.toString().equals('2')}">
                        <p id="review_rate">★★☆☆☆</p>
                    </div>
                    <div th:if="${reviews.reviewRate.toString().equals('3')}">
                        <p id="review_rate">★★★☆☆</p>
                    </div>
                    <div th:if="${reviews.reviewRate.toString().equals('4')}">
                        <p id="review_rate">★★★★☆</p>
                    </div>
                    <div th:if="${reviews.reviewRate.toString().equals('5')}">
                        <p id="review_rate">★★★★★</p>
                    </div>
                    <div class="content" th:text="${reviews.reviewContent}">내용</div>
                </td>
                <td>
                    <form id="deleteForm" th:action="@{'/board/my-review-delete'}" method="POST">
                        <input type="hidden" name="deleteId" th:value="${reviews.reviewId}"/>
                        <button type="submit" class="btn btn-default">삭제</button>
                    </form>
                </td>
            </tr>
            <tr th:if="${!#lists.isEmpty(reviews.imgs)}">
                <td class="review_img_cover" th:each="imgs : ${reviews.imgs}">
                    <img class="review_img" th:src="${imgs.reviewImgUrl}"/>
                </td>
            </tr>
            <tr>
                <td colspan="5"><hr/></td>
            </tr>
        </th:block>
    </table>
    <div id="reviewWriteBtn">
        <button class="btn btn-default" type="button"
                th:onclick="|location.href='@{/board/review-write/{prodId}(prodId=${product.prodId})}'|">리뷰 쓰기</button>
    </div>
</div>
</body>
</html>