<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/board/review-write.css">
</head>
<body layout:fragment="content">

<section class="main">
    <form class="form-review-write" action="">
        <table class="table-review-write">
            <h2>리뷰 작성하기</h2>
            <tr>
                <td class="title">작성자</td>
                <td class="content">yeong1234</td>
            </tr>
            <tr>
                <td class="title">상품명</td>
                <td class="content">브이넥 니트</td>
            </tr>
            <tr>
                <td class="title">별점</td>
                <td class="content">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option4"> 4
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option5"> 5
                    </label>
                </td>
            </tr>
            <tr>
                <td class="title">내용</td>
                <td class="content">
                    <textarea class="form-control" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td class="title">첨부파일1</td>
                <td class="content">
                    <div class="form-group">
                        <input type="file" id="exampleInputFile">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">첨부파일2</td>
                <td class="content">
                    <div class="form-group">
                        <input type="file" id="exampleInputFile">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">첨부파일3</td>
                <td class="content">
                    <div class="form-group">
                        <input type="file" id="exampleInputFile">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">첨부파일4</td>
                <td class="content">
                    <div class="form-group">
                        <input type="file" id="exampleInputFile">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">첨부파일5</td>
                <td class="content">
                    <div class="form-group">
                        <input type="file" id="exampleInputFile">
                    </div>
                </td>
            </tr>
        </table>
        <div class="button"><button type="submit" class="btn btn-default">작성하기</button></div>
    </form>
</section>
    
</body>
</html>