<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/board/review-list.css">
</head>
<body layout:fragment="content">

    <div class="title">Review</div>
    <!-- 리뷰 id 개수만큼 반복 -->
    <div class="review">
        <div class="id">yeong****</div>
        <div class="content">옷이 너무너무 예쁘고 사이즈도 잘맞고 사진도 잘나와요 짱~!!</div>
        <div class="container">
            <div class="img"></div>
            <div class="img"></div>
        </div>
    </div>

</body>
</html>