<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/board/review-list.css">
</head>
<!--<body layout:fragment="reviewlist">-->
<body th:fragment="reviewlist">

    <div class="title">Review</div>
    <!-- 리뷰 id 개수만큼 반복 -->
        <div class="review">
            <tr th:each="reviews : ${reviewdto}">
                <div class="review-item">
                    <td>
                        <div class="id" th:text="${reviews.userId}">yeong1111</div>
                    </td>
                    <td>
                        <div th:if="${reviews.reviewRate.toString().equals('1')}">
                            <p>★☆☆☆☆</p>
                        </div>
                        <div th:if="${reviews.reviewRate.toString().equals('2')}">
                            <p>★★☆☆☆</p>
                        </div>
                        <div th:if="${reviews.reviewRate.toString().equals('3')}">
                            <p>★★★☆☆</p>
                        </div>
                        <div th:if="${reviews.reviewRate.toString().equals('4')}">
                            <p>★★★★☆</p>
                        </div>
                        <div th:if="${reviews.reviewRate.toString().equals('5')}">
                            <p>★★★★★</p>
                        </div>
                    </td>

                    <td>
                        <div class="content" th:text="${reviews.reviewContent}">내용</div>
                    </td>
                    <td>
                        <div class="date" th:text="${reviews.reviewWriteDate}">2023.11.11</div>
                    </td>
                    <td>
                        <div th:if="${#lists.isEmpty(reviews.imgs)}">
                            <p>첨부한 이미지가 없습니다.</p>
                        </div>
                        <div th:if="${!#lists.isEmpty(reviews.imgs)}">
                            <div class="img" th:each="imgs : ${reviews.imgs}">
                                <img th:src="${imgs.reviewImgUrl}"/>
                            </div>
                        </div>
                    </td>
                </div>
            </tr>
        </div>
</body>
</html>