@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../side-nav-for-user.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
#prod_manage_content{
    width: 90%;
    text-align: left;
}
.page {
    text-align: center;
}
