<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OyeongShop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/css/user/cart.css" rel="stylesheet" type="text/css" />

</head>
<body layout:fragment="content">

<div id="content2">
    <div  id="content3">
        <div>
            <h2>장바구니</h2>
        </div>
        <form action="">
            <table id="signup" class="table table-bordered">
                <tbody id="test_tbody">
<!--                <tr>-->
<!--                    <td><label for="prod-check">선택</label></td>-->
<!--                    <td><div class="col-md-4"></div></td>-->
<!--                    <td><label for="prod-id">상품명</label></td>-->
<!--                    <td><label for="prod-price">가격</label></td>-->
<!--                    <td><label for="prod-amount">수량</label></td>-->
<!--                    <td><label for="prod-allprice">합계 금액</label></td>-->
<!--                </tr>-->
                <div class="title">Review</div>
                <!-- 리뷰 id 개수만큼 반복 -->
                <div class="review">
                <tr th:each="cartitems : ${cartDTO}">
                    <div class="cartitem-item" th:each="dtos : ${cartitems.cartItemResponseDTOS}">
<!--                        private Long prodId;-->
<!--                        private String color;-->
<!--                        private String size;-->
                        <td>
                            <div class="id" th:text="${dtos.prodName}">상품상세명</div>
                        </td>
                        <td>
                            <div class="content" th:text="${dtos.prodSalesPrice}">가격</div>
                        </td>
                        <td>
                            <div class="date" th:text="${dtos.quantity}">개수</div>
                        </td>
<!--                        <td>-->
<!--                            <div th:if="${#lists.isEmpty(reviews.imgs)}">-->
<!--                                <p>첨부한 이미지가 없습니다.</p>-->
<!--                            </div>-->
<!--                            <div th:if="${!#lists.isEmpty(reviews.imgs)}">-->
<!--                                <div class="img" th:each="imgs : ${reviews.imgs}">-->
<!--                                    <img th:src="${imgs.reviewImgUrl}"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
                    </div>
                </tr>
<!--                <button class="reviewWriteBtn" type="button" th:onclick="|location.href='@{/board/review-write/{prodId}(prodId=${product.prodId})}'|">리뷰 쓰기</button>-->
                </div>
<!--                <tr>-->
<!--                    <td><div class="checkbox-wrapper-1">-->
<!--                        <input id="prod-check" class="substituted" type="checkbox" aria-hidden="true" />-->
<!--                    </div></td>-->
<!--                    <td><div class="col-md-4">-->
<!--                        <img src="login_img.png" class="img-responsive" alt="Responsive image">-->
<!--                    </div></td>-->
<!--                    <td><input type="text" class="form-control" id="prod-id" name="prodOptId" placeholder="상품상세명" disabled></td>-->
<!--                    <td><input type="number" class="form-control" id="prod-price" name="price" placeholder="가격" disabled></td>-->
<!--                    <td><input type="number" class="form-control" id="prod-amount" name="quantity" placeholder="개수" disabled></td>-->
<!--                    <td><input type="number" class="form-control" id="prod-allprice" name="allPrice" placeholder="총가격" disabled></td>-->
<!--                </tr>-->
                </tbody>
            </table>
            <div id="submit-btn">
<!--                <button type="submit" onclick="" class="my-btn">회원가입</button>-->
<!--                <button type="button" onclick="" class="my-btn">취소</button>-->
                <button class="btn btn-default" type="button">선택 삭제</button>
                <button class="btn btn-default" type="button">장바구니 비우기</button>
                &emsp;&emsp;&emsp;&emsp;&emsp;
                <button class="btn btn-default" type="submit">주문하기</button>
            </div>
        </form>
    </div>
</div>


</body>
</html>