<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OyeongShop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/css/user/cart.css" rel="stylesheet" type="text/css" />

</head>
<body layout:fragment="content">
<div id="cart_content">
            <h2 class="sub_title">Cart</h2>
            <table id="cart_prod_info" class="table">
                <tr>
                    <td class="cart_title">선택</td>
                    <td class="cart_title" colspan="2">상품 정보</td>
                    <td class="cart_title">가격</td>
                    <td class="cart_title">수량</td>
                    <td class="cart_title">합계 금액</td>
                </tr>
                <!-- 리뷰 id 개수만큼 반복 -->
                <tr th:each="cartItem, iterStat : ${cartItems}">
                    <td>
                        <div class="cart_info_content">
                            <input type="checkbox" th:id="${'check' + iterStat.index}" class="checkstandard" name="selectedItems" th:value="${cartItem.cartItemId}" />
                            <label th:for="${'check' + iterStat.index}"></label>
                            <input type="hidden" name="cartItemId" th:name="'cartItemUpdates[__${iterStat.index}__].cartItemId'" th:value="${cartItem.cartItemId}" />
                            <input type="hidden" name="quantity" class="quantity_input" th:name="'cartItemUpdates[__${iterStat.index}__].quantity'" th:value="${cartItem.quantity}" />
                        </div>
                    </td>
                        <td class="cart_info_content">
                            <div>
                                <img class="cart_prod_img" th:src="${cartItem.prodImg}"  alt="Responsive image">
                            </div>
                        </td>
                        <td>
                            <div>
                                <p class="cart_info_content" th:text="${cartItem.prodName}">상품명</p>
                                <p class="cart_info_content" th:text="${cartItem.color}">색상</p>
                                <p class="cart_info_content"th:text="${cartItem.size}">사이즈</p>
                            </div>
                        </td>
                        <td>
                            <div class="cart_info_content" id="origin_price"
                                 th:if="${cartItem.prodOriginPrice != cartItem.prodSalesPrice}"
                                 th:text="${cartItem.prodOriginPrice}">소비자가격</div>
                            <div class="cart_info_content" th:text="${cartItem.prodSalesPrice}">실제판매가격</div>
                        </td>
                        <td>
                            <div class="cart_info_content">
                                <input type="text" class="quantity_input" th:value="${cartItem.quantity}" />
                                <span>
                                    <button type="button" class="plus_btn" onclick="incrementQuantity(this)">+</button>
                                    <button type="button" class="minus_btn" onclick="decrementQuantity(this)">-</button>
                                </span>
                            </div>
                        </td>
                        <td class="cart_info_content">
                            <div class="cart_info_content" th:text="${cartItem.prodSalesPrice * cartItem.quantity}">총가격</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cart_info_content">결제 예정 금액 : </td>
                        <td colspan="5"></td>
                    </tr>
            </table>
            <div id="submit-btn">
                <button class="btn btn-default" onclick="deleteDataToCart(this)">선택 삭제</button>
                <button class="btn btn-default" onclick="sendDataToOrder(this)">주문하기</button>
            </div>

</div>
<form id="cartModifyForm" action="/user/cart/modify" method="post">
    <input type="hidden" name="prodId" value="">
    <input type="hidden" name="color" value="">
    <input type="hidden" name="size" value="">
    <input type="hidden" name="quantity" value="">
    <input type="hidden" name="prodSalesPrice" value="">
</form>
<form id="cartDeleteForm" action="/user/cart/delete" method="post">
    <input type="hidden" name="cartItemIds" value="">
</form>
<form id="orderDataForm" action="/order/to-orders" method="post">
    <input type="hidden" name="selectedItems" value="">
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/user/cart.js"></script>
<!-- 외부 JavaScript 파일 연결 -->
</body>
</html>