<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="rest.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/user/myinfo.css">
</head>
<body layout:fragment="content">
    <div class="myinfo-title">
        <h2>회원정보</h2>
    </div>
    <div class="myinfo-where">
        <table id="myinfo" class="table table-bordered">
            <!-- <table  id="signup" class="table table-sm"> -->
            <tbody id="test_tbody">
                <tr>
                  <td><label for="myinfo-id">아이디</label></td>
                  <td><input type="text" class="form-control" id="myinfo-id" name="userId" placeholder="ID" disabled></td>
                </tr>
                <tr>
                  <td><label for="myinfo-pwd">비밀번호</label></td>
                  <td><input type="password" class="form-control" id="myinfo-pwd" name="password" placeholder="Password" required></td>
                </tr>
                <tr>
                    <td><label for="myinfo-pwd2">비밀번호 확인</label></td>
                    <td><input type="password" class="form-control" id="myinfo-pwd2" name="password" placeholder="Password Confirm" required></td>
                </tr>
                <tr>
                    <td><label for="myinfo-name">이름</label></td>
                    <td><input type="text" class="form-control" id="myinfo-name" name="name" placeholder="Name" disabled></td>
                </tr>
                <tr>
                    <td><label for="myinfo-address">주소</label></td>
                    <td><input type="text" class="form-control" id="myinfo-address" name="address" placeholder="Address" required></td>
                </tr>
                <tr>
                    <td><label for="myinfo-address2">주소2</label></td>
                    <td><input type="text" class="form-control" id="myinfo-address2" name="address2" placeholder="Address2" required></td>
                </tr><tr>
                    <td><label for="myinfo-address3">주소3</label></td>
                    <td><input type="text" class="form-control" id="myinfo-address3" name="address3" placeholder="Address3" required></td>
                </tr>
                <tr>
                    <td><label for="myinfo-phone">휴대전화</label></td>
                    <td><input type="text" class="form-control" id="myinfo-phone" name="phone" placeholder="Phone Number" disabled></td>
                </tr>
                <tr>
                    <td><label for="myinfo-email">이메일</label></td>
                    <td><input type="email" class="form-control" id="myinfo-email" name="email" placeholder="Email" disabled></td>
                </tr>
              </tbody>
     
        </table>
        <div>
            <button type="submit" onclick="" class="my-btn">정보수정</button>
            <button type="button" onclick="" class="my-btn">취소</button>
            <button type="button" onclick="" class="my-btn" id="popupBtn">회원탈퇴</button>
        </div>
      </div>

    <!-- 모달 팝업창 -->
    <div id="modalWrap">
        <div id="modalContent">
            <div id="modalBody">
                <span id="closeBtn">&times;</span> //닫기 버튼
                <p>modal-popup 입니다.</p> //팝업창 내 글귀
            </div>
        </div>
    </div>

<script  type="text/javascript">
    const btn = document.getElementById('popupBtn');
const modal = document.getElementById('modalWrap');
const closeBtn = document.getElementById('closeBtn');

btn.onclick = function() {
  modal.style.display = 'block';
}
closeBtn.onclick = function() {
  modal.style.display = 'none';
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</body>
</html>