<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/non-side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/user/signup.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/user/signup.js"></script>
</head>
<body layout:fragment="content">
    <div id="signup_title">
        <h2 class="sub_title">Sign Up</h2>
    </div>
    <div id="sginup-content">
        <div id="sginup-content-left">
            <img src="/images/login_img.png"/>
        </div>
        <div  id="sginup-content-right">
            <form action="/sign-up" method="POST">
                <table id="signup" class="table">
                    <tbody id="test_tbody">
                        <tr>
                          <td>
                              <label for="signup-id">아이디</label>
                          </td>
                          <td>
                              <input type="text" class="form-control" id="signup-id" name="userId" placeholder="ID" required>
                              <span id="result_checkId"></span>
                          </td>
                          <td><input type="button" id="checkId" value="중복검사" class="btn btn-default"></td>
                        </tr>
                        <tr>
                          <td><label for="signup-pwd">비밀번호</label></td>
                          <td colspan="2">
                              <input type="password" class="form-control" id="signup-pwd" name="userPwd" placeholder="Password" required>
                              <span>최소 8자에서 15자까지, 영문자, 숫자 및 특수 문자를 포함해주세요</span>
                          </td>
                        </tr>
                        <tr>
                            <td><label for="signup-pwd">비밀번호 확인</label></td>
                            <td colspan="2"><input type="password" class="form-control" id="signup-pwd-check" placeholder="Password Confirm" required></td>
                        </tr>
                        <tr>
                            <td><label for="signup-name">이름</label></td>
                            <td colspan="2"><input type="text" class="form-control" id="signup-name" name="userName" placeholder="Name" required></td>
                        </tr>
                        <tr>
                            <td>우편번호</td>
                            <td>
                                <input type="text" id ="postcode" class="form-control" name = "postcode" placeholder="우편번호" readonly required>
                            </td>
                            <td>
                                <input type="button" onclick="daumPostcode()" value="우편번호 찾기" class="btn btn-default">
                            </td>
                        </tr>
                        <tr>
                            <td>주소</td>
                            <td colspan="2"><input type="text" class="form-control" id="address1" name="address1" placeholder="주소" readonly required></td>
                        </tr>
                        <tr>
                            <td>참고주소</td>
                            <td colspan="2"><input type="text" class="form-control" id="address2" name="address2" placeholder="참고주소" readonly required></td>
                        </tr>
                        <tr>
                            <td>상세주소</td>
                            <td colspan="2"><input type="text" class="form-control" id="userAddrDetail" name="userAddrDetail" placeholder="상세주소"></td>
                        </tr>
                        <tr>
                            <td><label for="signup-phone">휴대전화</label></td>
                            <td colspan="2"><input type="tel" class="form-control" id="signup-phone" name="userPhone" placeholder="010-0000-0000 형식으로 작성해주세요" required></td>
                        </tr>
                        <tr>
                            <td><label for="signup-email">이메일</label></td>
                            <td colspan="2"><input type="email" class="form-control" id="signup-email" name="userEmail" placeholder="Email" required></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <button type="button" onclick="cancel()" class="btn btn-default">취소</button>
                                <button type="submit" onclick="return validate()" class="btn btn-default">회원가입</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</body>
</html>