<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/css/user/wishlist.css" rel="stylesheet" type="text/css" />
</head>
<body layout:fragment="content">
  <section class="wrapper">
    <aside class="aside">
        <div class="main-title">
            <div class="main-img-div">
                <img alt="" src="img/main1.png">
            </div>
        </div>
    </aside>
    <div class="row">
        <blockquote><p>관심상품</p></blockquote>
        <!-- <div class="col-md-1"><strong>관심상품</strong></div> -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <img src="login_img.png" class="img-responsive" alt="Responsive image">
                <div class="row">
                    <div class="col-md-4">상품명
                        <br>32,000원
                    </div>
                    <div class="col-md-2">
                        찜
                        <img src="login_img.png" class="img-responsive" alt="Responsive image">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="login_img.png" class="img-responsive" alt="Responsive image">
                <div class="row">
                    <div class="col-md-4">상품명
                        <br>32,000원
                    </div>
                    <div class="col-md-2">
                        찜
                        <img src="login_img.png" class="img-responsive" alt="Responsive image">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="login_img.png" class="img-responsive" alt="Responsive image">
                <div class="row">
                    <div class="col-md-4">상품명
                        <br>32,000원
                    </div>
                    <div class="col-md-2">
                        찜
                        <img src="login_img.png" class="img-responsive" alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</body>
</html>