<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/css/user/wishlist.css" rel="stylesheet"/>
</head>
<body layout:fragment="content">

<div class="title">WishList</div>
<!-- 위시리스트 id 개수만큼 반복 -->
<div class="wishlist">
    <tr th:each="wishlists : ${wishListDTOS}">
        <div class="wishlist-item">

            <td>
                <div class="wish">
                    <a th:href="@{'/product/detail/' + ${wishlists.prodId}}">
                        <img th:src="${wishlists.prodMainImgPath}"/>
                    </a>
                </div>
            </td>

            <td>
                <div class="wish" th:text="${wishlists.prodName}">상품명</div>
            </td>

            <td>
<!--                <div class="wish" th:text="${wishlists.prodSalesPrice}">판매가격</div>-->
                <div class="wish" th:text="${#numbers.formatInteger(wishlists.prodSalesPrice, 1, 'COMMA')+ '원'}">판매가격</div>
            </td>

            <td>

                <div id="jjimMinus2">
                    <button th:onclick="'jjimMinus2(\'' + ${wishlists.prodId} + '\')'">
                        <img class="wishImg" id="wish" th:src="${'/images/wish.png'}" alt="찜해제 이미지"></button>
                </div>

<!--                <form id="deleteForm" th:action="@{'/user/wishlist-delete'}" method="POST">-->
<!--                    <input type="hidden" name="wishProdId" th:value="${wishlists.prodId}">-->
<!--                    <button type="submit">-->
<!--                        <img class="wishImg" th:src="${'/images/wish.png'}" alt="찜하기 이미지"></button>-->
<!--                </form>-->
            </td>
        </div>
    </tr>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/user/wishlist.js"></script>
</body>
</html>