<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/css/user/wishlist.css" rel="stylesheet"/>
</head>
<body layout:fragment="content">

<div class="title">Review</div>
<!-- 리뷰 id 개수만큼 반복 -->
<div class="review">
    <tr th:each="wishlists : ${wishListDTOS}">
        <div class="wishlist-item">

            <td>
                <div class="mainImg"><img th:src="${wishlists.prodMainImgPath}"/></div>
            </td>

            <td>
                <div class="prodName" th:text="${wishlists.prodName}">상품명</div>
            </td>

            <td>
                <div class="price" th:text="${wishlists.prodSalesPrice}">판매가격</div>
            </td>

            <td>
                <form id="deleteForm" th:action="@{'/user/wishlist-delete/{wishlists.prodId}'}" method="POST">
<!--                    <input type="hidden" name="deleteId" th:value="${reviews.reviewId}"/>-->
                    <button type="submit" class="btn btn-default">삭제</button>
                </form>
            </td>
        </div>
    </tr>
</div>

</body>
</html>