<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/App.css">
    <meta charset="UTF-8">
    <style>
        hr {
            border: 2px solid #E2ECE2;
        }

        .custom-button {
            background-color: #E2ECE2;
            font-size: 18px;
            color: black;
            border: 2px solid #E2ECE2;
            width: 40%;
        }

        .custom-button {
            font-weight: bold;
        }
    </style>
</head>


<body>
<!-- header -->
<header th:replace="~{/header/header :: headerFragment}"></header>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <header th:replace="~{/sidebar/sidebar :: sidebarFragment}"></header>

        <!-- main 나눔글 작성하기-->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="height: auto; min-height: 100%; margin-left: 200px; margin-bottom: 50px;">
            <div class="main-container border rounded p-3 mt-2"> <!-- 메인컨텐츠 주변 보더라인 잡기-->

                <h2 class="titles mb-3 mt-4 text-center">DONATION</h2>
                <hr> <!--구분선 넣기 -->
                <!-- 검색창 -->
                <form action="/board/bookSearch" method="get" id="search">
                    <div class="col-md-5 mt-5 d-flex justify-content-center align-items-center mx-auto">
                        <div class="bold-label col-auto"> 바코드 검색</div>
                        <input type="search" id="searchInput" name="text" class="form-control d-inline-block mx-1" maxlength="50"
                               placeholder="제목을 입력하세요" th:value="${param.isbn}">
                        <button type="submit" class="custom-button btn btn-dark mx-1" onclick="searchValidateForm()" style="width: 100px; white-space: nowrap; ">검색
                        </button>
                    </div>
                </form>

                <!--이미지 파일을 업로드하기 위해 enctype을 multipart/form-data로 설정-->
                <form th:action="@{/board/new}" id="form" method="post" enctype="multipart/form-data">
                    <div class="form-group mt-3"> <!--도서 정보 자동 입력칸 -->
                        <input type="hidden" id="isbn" name="isbn" th:value="${param.isbn}" class="form-control">
                        <div>
                            <label for="title" class="light-label">도서 제목</label>
                            <input id="title" name="title" th:value="${param.title}" class="form-control" readonly
                                   type="text">
                        </div>
                        <div>
                            <label for="pubdate" class="light-label">발행일자</label>
                            <input id="pubdate" name="pubdate" th:value="${param.pubdate}" class="form-control" readonly
                                   type="text">
                        </div>
                        <div>
                            <label for="publisher" class="light-label">출판사</label>
                            <input id="publisher" name="publisher" th:value="${param.publisher}" class="form-control"
                                   readonly type="text">
                        </div>
                        <div>
                            <label for="author" class="light-label">저자</label>
                            <input id="author" name="author" th:value="${param.author}" class="form-control" readonly
                                   type="text">
                        </div>
                        <div>
                            <label for="description" class="light-label">책 소개</label>
                            <textarea id="description" name="description" class="form-control"
                                      th:text="${param.description}" rows="5" readonly
                                      style="overflow-y: scroll;"></textarea>
                        </div>
                    </div>

                    <div class="border mt-5 mb-5"></div> <!--구분선 넣기 -->

                    <!--이미지 파일 넣기 -->

                    <div class="form-group mt-5">
                        <div class="bold-label text-center mb-4" style="font-size: 20px;">이미지 첨부</div>
                        <label for="imageUpload" class="light-label">기부하고자 하는 책의 사진 파일을 첨부해주세요. (최대 5장) 오염도나, 책의 외상 등을 촬영해주세요! :)</label>
                        <!-- input 타입을 file로 설정하고, 파일을 여러 개 선택할 수 있도록 multiple 속성 추가 -->
                        <div id="imageContainer"></div>
                        <input type="file" class="form-control-file" id="imageUpload" name="image" accept="image/*" multiple>
                    </div>

                    <!-- 기부어의 한마디 -->
                    <div class="form-group mt-5">
                        <label for="message" class="light-label">기부어의 한마디 (최대 250자) </label>
                        <textarea id="message" name="message" class="form-control" maxlength="250" rows="4"
                                  placeholder="나눔받을 테이커에게 전하고 싶은 말이나 인상깊었던 책의 부분을 적어주세요! :)"
                                  style="overflow-y: scroll;"></textarea>
                    </div>

                    <div class="border mt-5 mb-5"></div> <!--구분선 넣기 -->

                    <!--수거정보 입력칸 개인정보, 주소, 정확한 위치 입력 -->
                    <div class="form-group mt-3">
                        <div class="bold-label text-center mb-4" style="font-size: 20px;">수거 정보 입력</div>
                        <div class="light-label"> 기부어 정보를 입력해주세요. (기부하는 도서는 박스에 담아 포장해주세요.)</div>
                        <div class="row g-3">
                            <div class="col-md-3">
                                <label class="visually-hidden" for="username"></label>
                                <div class="input-group">
                                    <div class="input-group-text">이름</div>
                                    <input type="text" class="form-control" id="username" name="name" maxlength="10"
                                           placeholder="이름">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="visually-hidden" for="phone"></label>
                                <div class="input-group">
                                    <div class="input-group-text">전화번호</div>
                                    <input type="tel" pattern="\d{11,11}" class="form-control col-md-6" id="phone" name="phone"
                                           placeholder="01012345678 ('-' 없이 입력)" minlength="11" maxlength="11">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <label for="postcode" class="light-label">주소 :</label>
                        <div class="row g-3">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="text" pattern="[0-9]+" class="form-control mt-2" id="postcode" name="postcode" minlength="5" maxlength="5"
                                           placeholder="우편번호" style="height: 38px;" readonly>
                                    <button type="button" class="btn btn-sm btn-secondary mt-2" onclick="sample4_execDaumPostcode()" style="height: 38px;">우편번호 검색</button>
                                </div>
                            </div>
                            <div class="col-md-3 mt-2">
                                <input type="text" class="form-control" id="roadAddress" name="roadAddress" maxlength="50" placeholder="도로명주소" style="height: 38px;">
                            </div>
                            <div class="col-md-3 mt-2">
                                <input type="text" class="form-control" id="detailAddress" name="detailAddress" maxlength="30" placeholder="상세주소" style="height: 38px;">
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <div class="light-label mt-2 mb-2">정확한 수거 장소를 선택해주세요.</div>
                        <!--                        <div class="col-auto col-form-label text-nowrap">정확한 수거 장소를 선택해주세요.</div>-->
                        <div class="col-sm-3 col-form-label text-nowrap">
                            <div class="form-check">
                                <input type="radio" id="문앞" name="place" value="문앞" class="form-check-input"/>
                                <label for="문앞" class="light-label form-check-label">문 앞</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="경비실" name="place" value="경비실" class="form-check-input"/>
                                <label for="경비실" class="light-label form-check-label">관리실</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="무인택배함" name="place" value="무인택배함" class="form-check-input"/>
                                <label for="무인택배함" class="light-label form-check-label">무인택배함</label>
                            </div>
                        </div>
                    </div>

                    <div class="border mt-5 mb-5"></div> <!--구분선 넣기 -->

                    <div class="container">
                        <div class="bold-label text-center mb-4" style="font-size: 20px;">약관 동의</div>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">서비스 이용 약관 동의</h3>
                                <p class="light-label card-text">이 서비스를 이용하시려면 아래의 약관에 동의하여 주세요.</p>
                                <li class="light-label mt-1">나눔 책의 품질에 따라 책갈피는 차등지급됩니다. (품질 판정은 가장 낮은 단계를 기준으로 합니다.)</li>
                                <td class="container mt-3">
                                    <table class="table mt-2">
                                        <thead>
                                        <tr>
                                            <th scope="col">구분</th>
                                            <th scope="col">우와 새책~!</th>
                                            <th scope="col">헌책 감사</th>
                                            <th scope="col">쓸만하네</th>
                                            <th scope="col">똥휴지(기부불가)</th>
                                        </tr>
                                        </thead>
                                        <tbody class="light-label">
                                        <tr>
                                            <td><b>헌 상태</b></td>
                                            <td>새 것에 가까운 책</td>
                                            <td>약간의 사용감은 있으나 깨끗한 책</td>
                                            <td>사용감이 많으며 헌 느낌이 나는 책</td>
                                            <td>독서 및 이용에 지장이 있는 책</td>
                                        </tr>
                                        <tr>
                                            <td><b>표지</b></td>
                                            <td>변색/찢어짐/낙서 없음</td>
                                            <td>희미한 변색/얼룩 있음, 약간의 모서리 해짐, 낙서 없음</td>
                                            <td>전체적인 변색/모서리 해짐/오염 있음, 2cm 이하의 찢어짐 있음, 낙서 있음</td>
                                            <td>4cm 초과한 찢어짐 혹은 얼룩 있음</td>
                                        </tr>
                                        <tr>
                                            <td><b>책등/책배</b></td>
                                            <td>변색/찢어짐/낙서 없음</td>
                                            <td>희미한 변색/얼룩 있음, 약간의 닳은 흔적 있음, 낙서 없음</td>
                                            <td>전체적인 변색/모서리 해짐/오염 있음, 낙서 있음 (이름포함)</td>
                                            <td>2cm 초과한 크기의 얼룩 있음</td>
                                        </tr>
                                        <tr>
                                            <td><b>내부/제본상태</b></td>
                                            <td>변색/찢어짐/낙서/얼룩 없음, 제본 탈착 없음</td>
                                            <td>변색/낙서/얼룩 없음, 약간의 접힌 흔적 있음, 제본 탈착 없음</td>
                                            <td>변색/얼룩/오염 있음, 10쪽 이하의 필기 및 밑줄 있음, 2cm 이하의 찢어짐 있음, 본문 읽기에 지장 없는 부록 없음</td>
                                            <td>2cm 초과한 찢어짐 혹은 얼룩 있음, 제본 불량, 분책 된 경우</td>
                                        </tr>
                                        <tr>
                                            <td><b>책갈피 지급</b></td>
                                            <td style="color: darkgreen;"><b>10책갈피</b></td>
                                            <td style="color: darkgreen;"><b>7책갈피</b></td>
                                            <td style="color: darkgreen;"><b>5책갈피</b></td>
                                            <td style="color: orangered;"><b>0책갈피 (착불반송 혹은 폐기처리)</b></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <li class="mt-2 light-label">똥휴지 등급은 나눔불가 상품입니다. 만약 검수결과가 똥휴지 등급일 시 옵션을 선택해주세요.</li>
                                <div class="light-label col-sm-3 col-form-label text-nowrap">
                                    <div class="form-check">
                                        <input type="radio" id="폐기처리" name="process" value="폐기처리"
                                               class="form-check-input" checked/>
                                        <label for="폐기처리" class="form-check-label">폐기 처리</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" id="착불반송" name="process" value="착불반송"
                                               class="form-check-input"/>
                                        <label for="착불반송" class="form-check-label">착불 반송(기부어 부담)</label>
                                    </div>
                                </div>
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox" id="termsCheckbox">
                                    <label class="bold-label form-check-label" for="termsCheckbox">서비스 이용 약관에 동의합니다.</label>
                                </div>
                                <div class="text-center">
                                    <input type="submit" class="custom-button btn btn-dark" value="제출" onclick="submitFormWithValidation()">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>

<!-- 모달 창 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">나눔글 제출 완료</h5>
            </div>
            <div class="modal-body">
                소중한 도서 나눔 감사합니다. 도서 수거는 1~2일 내로 이루어질 예정이니 수거 주소로 도서를 배출해주시기 바랍니다.
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModalButton" class="btn btn-primary">확인</button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{/footer/footer :: footerFragment}"></footer>
<script th:src="@{/js/boardAdd.js}"></script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</body>
</html>


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->


