<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:fragment="header">
        <div id="shopName">
            <a href="/">OyeongShop</a>
        </div>
        <div id="header-button-section">
            <!-- 로그인 전 버튼 -->
            <a class="gradient-btn" href="/sign-up">회원가입</a>
            <a class="gradient-btn" href="/login">로그인</a>
            <!-- 로그인 후 버튼 -->
            <!-- 공통 -->
            <span id="welcome-sentence">나롱님 환영합니다.</span>
            <a class="gradient-btn" href="#">로그아웃</a>
            <!-- 관리자 -->
            <a class="gradient-btn" href="#">상품등록</a>
            <!-- 일반 사용자 -->
            <div id="toggle-btn-section">
                <button type="button" class="hearder-btn" onclick="location.href='#'">
                    <img src="/images/point.png" class="hearder-btn-img" />
                </button>
                <button type="button" class="hearder-btn" onclick="location.href='/user/wishlist'">
                    <img src="/images/wish.png" class="hearder-btn-img"/>
                </button>
                <button type="button" class="hearder-btn" onclick="location.href='/user/cart'">
                    <img src="/images/cart.png " class="hearder-btn-img"/>
                </button>
                <button type="button" class="hearder-btn" onclick="location.href='/user/mypage'">
                    <img src="/images/mypage.png"/>
                </button>
            </div>
        </div>
    </header>
</body>
</html>
