<!DOCTYPE html>
<html lagn="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body th:fragment="menu">
	<nav>
		<div class="toggle-btn" id="search-area">
			<input type="text" id="search-input" placeholder="상품 검색"/>
			<button type="button" id="search-btn" onclick="alert('클릭!')">
				<img src="/images/돋보기.svg"/>
			</button>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/product/list/BEST100/regdate">BEST100</a>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/product/list/New/regdate">New</a>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/product/list/Sale/regdate">Sale</a>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/product/list/All/regdate">Show All</a>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/product/list/Top/regdate">Top</a>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/product/list/Bottom/regdate">Bottom</a>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/product/list/Outer/regdate">Outer</a>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/product/list/Dress/regdate">Dress</a>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/product/list/Shoes/regdate">Shoes</a>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/product/list/Bag/regdate">Bag</a>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/board/lists">Community</a>
		</div>
	</nav>
</body>
</html>