<!DOCTYPE html>
<html lagn="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body th:fragment="menu">
	<nav>
		<div class="toggle-btn" id="search-area">
			<form action="/admit/product/management/search" method="get">
				<input type="text" id="search" name="search" placeholder="상품명 또는 상품코드 검색"/>
				<button type="submit" id="search-btn">
					<img src="/images/돋보기.svg"/>
				</button>
			</form>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/admit/product/register">상품 등록</a>
		</div>
		<div class="toggle-btn">
			<a class="side-menu" href="/admit/product/management">상품 관리</a>
		</div>
	</nav>
</body>
</html>