@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../side-nav-for-user.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
    font-family: 'Nanum Gothic', sans-serif;
}


#prod_manage_content{
    width: 90%;
    text-align: left;
}
.page {
    text-align: center;
}
.searchth {
    padding: 10px;
    text-align: center;
}
.searchtr {
    align-items:center;
    justify-content: center;
}
.searchtd {
    padding: 10px;
}

.btn {
    text-align: center;
}