@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../side-nav-for-user.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

#prod_regis_detail_content{
    width: 80%;
    text-align: left;
}
#submit-btn{
    text-align: right;
}

textarea {
  width: 25rem;
  height: 15rem;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
}


td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
    font-size: 14px;
}

tr.hidden {
    display: none;
}