@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

header {
	padding: 2em;
}

header a {
	font-family: 'Caveat', monospace ;
}

.hearder-btn{
    margin-top: 10px;
    margin-right: 10px;
    width: 2.5em;
    font-family: 'Nanum Gothic', sans-serif;
}

#shopName {
	text-align: center;
	font-size: 3em;
}

#header-button-section {
	text-align: right;
}

#welcome-sentence{

}
