@import url(reset.css);
@import url(common.css);
@import url(header.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
	font-family: 'Nanum Gothic', sans-serif;
}
#search-area{
    border-bottom: 2px black solid;
    padding-bottom: 0.5em;
}
#search-input{
    width: 80%;
}
#search-btn{
    width: 15%;
}

.toggle-btn{
    padding-top: 1em;
    padding-left: 2em;
}

.side-menu{
    font-size: 20px;
}