<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OyeongShop</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body layout:fragment="content">
    <h3 id="title">주문현황</h3>
    <table>
        <tr>
            <td>결제 완료</td>
            <td>출고 준비 중</td>
            <td>출고 완료</td>
            <td>신규 문의</td>
        </tr>
        <tr>
            <td>10건</td>
            <td>15건</td>
            <td>20건</td>
            <td>5건</td>
        </tr>
        <tr aria-colspan="4">
            <a>배송 관리하기</a>
        </tr>
        <tr aria-colspan="4">
            <a>문의 관리하기</a>
        </tr>
    </table>

</body>
</html>