<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/side-layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OyeongShop</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body layout:fragment="content">

        <div id="index_main_img">
            <img alt="" src="/images/banner.png">
        </div>
    <h3 id="title">New Arrivals</h3>
        <table>
            <tbody>
            <tr th:each="product, iterStat : ${productList}" th:if="${iterStat.index%3==0}">
                <td th:if="${iterStat.index < iterStat.size}">
                    <a th:href="'/product/detail/' + ${productList[iterStat.index].prodId}">
                        <div class="img_cover">
                            <img class="product_img" alt="" th:src="${productList[iterStat.index].prodMainImgPath}">
                            <p th:text="${productList[iterStat.index].prodName}"></p>
                            <p th:text="${productList[iterStat.index].prodSalesPrice + '원'}"></p>
                        </div>
                    </a>
                </td>
                <td th:if="${iterStat.index+1 < iterStat.size}">
                    <a th:href="'/product/detail/' + ${productList[iterStat.index+1].prodId}">
                        <div class="img_cover">
                            <img class="product_img" alt="" th:src="${productList[iterStat.index+1].prodMainImgPath}">
                            <p th:text="${productList[iterStat.index+1].prodName}"></p>
                            <p th:text="${productList[iterStat.index+1].prodSalesPrice + '원'}"></p>
                        </div>
                    </a>
                </td>
                <td th:if="${iterStat.index+2 < iterStat.size}">
                    <a th:href="'/product/detail/' + ${productList[iterStat.index+2].prodId}">
                        <div class="img_cover">
                            <img class="product_img" alt="" th:src="${productList[iterStat.index+2].prodMainImgPath}">
                            <p th:text="${productList[iterStat.index+2].prodName}"></p>
                            <p th:text="${productList[iterStat.index+2].prodSalesPrice + '원'}"></p>
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

</body>
</html>