@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../side-nav-for-user.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
    font-family: 'Nanum Gothic', sans-serif;
}

#prod_detail_content {
    width: 80%;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3em;
}

#main-img {
    margin: 1em;
    width: 27em;
    height: 36em;
    object-fit: cover;
}

.product-info {
    margin: 2em;
    width: 50%;
}

.buttons {
    width: auto;
    height: auto;
    display: flex;
    right: 1px;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

th {
    font-size: 16px;
    text-align: left;
}

textarea {
  width: 25rem;
  height: 15rem;
}


#div-img {
    text-align: center;
    align-items: center;
}

.details-section {
    margin-top: 20px;
}

.product-info span {
    white-space: nowrap; /* 공백 무시 */
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.flex-items {
    display: flex;
    gap: 20px;
}

#desc {
    margin-top: 50px;
    line-height: 35px;
}

#td-desc {
    text-align: center;
    align:center;
}

#td-imgs {
    align:center;
}

#detailtable {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.detail-imgs{
    overflow: hidden;
    width:650px;
    height:700px;
    padding: 50px;
    background-position: center;
    text-align: center;
    align-items: center;
}

#buttonContainer{
    display:flex;
    justify-content:space-between;
}

pre {
    background-color: white;
}