@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../side-nav-for-user.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.product_img {
    width: 350px;
    height: 450px;
}

.img_cover {
    text-align: center; /* 이미지와 텍스트를 수평으로 가운데 정렬 */
}

.img_cover p {
    margin: 0; /* 기본 마진 제거 */
    margin-bottom: 10px;
}