@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../side-nav-for-user.css);

#review_lst_content {
    width: 90%;
    text-align: left;
}

.review-item {
    width:100%;
    object-fit:cover;
}

.content {
    line-height: 1.5; /* 줄 간격 조정 */
    color: #333; /* 글자 색상을 지정 */
}

#review_rate{
    margin: 1em 0;
}

.review_img {
    margin: 1em 0;
    width: 8em;
    height: 12em;
    object-fit: cover;
}

#delete_btn{
    text-align: center;
    /* vertical-align: middle; */
}
