@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../side-nav-for-user.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    margin: auto;
    font-family: 'Nanum Gothic', sans-serif;
}

.pwd-form {
    margin: auto;
    text-align: center;
}

.content {
    padding: 2rem;
}

.pwd {
    padding: 2rem;
}

.input-pwd {
    margin-left: 1rem;
}