@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../side-nav-for-user.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.buttons {
    width: auto;
    height: auto;
    display: flex;
    right: 1px;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.h2 {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
    padding-top: 3.0em;
    padding-bottom: 1.5em;
    font-size: 17px;
}

.headerQna {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.menu-container {
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: flex-end; */
    flex-grow: 0;
}

.menu-item {
    display: flex;
    font-size: 15px;
    /* justify-content: flex-end; */
    gap: 40px;
}

h2 {
  margin-bottom: 2em;
}

body {
    padding:3.0em;
}

table {
    border: 1px #a39485 solid;
    margin-left: auto;
    margin-right: auto;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 800px;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    padding: 10%;
}

.title {
  padding-left: 2rem;
}


.content {
  padding-right: 3rem;
}


td {
    padding: 1em .1em;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
    font-size: 14px;
}
