@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../side-nav-for-user.css);

body {
    margin: auto;
}

.title {
    text-align: center;
}

.review {
    width: 90%;
    margin: 0 auto; /* 화면 가운데로 위치. */
    padding: 10px;
}

.review-item {
    width:100%;
    object-fit:cover;
}

.content {
    line-height: 1.5; /* 줄 간격 조정 */
    color: #333; /* 글자 색상을 지정 */
}

.container {
    margin: 0 auto; /* container 영역을 브라우저에서 가운데 정렬하기 위해 auto설정 */
    text-align: center;
}

div {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
}

.reviewimg {
    overflow: hidden;
    display: inline-block;
    width: 150px; /* 가로 폭 설정 */
    height: 200px; /* 세로 높이 설정 */
    /*  background-size: cover;*/ /* 이미지를 div에 맞게 조정 */
    background-position: center; /* 이미지를 가운데 정렬 */
    border: 1px solid #ccc; /* 테두리 추가 */
    float: left;
}

tr {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

td {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.reviewWriteBtn {
    display: flex;
   /* justify-content: flex-end;*/
    align-self: flex-end;
    margin-left: auto;
}