@import url(../reset.css);
@import url(../common.css);
@import url(../header.css);
@import url(../footer.css);
@import url(../side-nav-for-user.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    font-family: 'Nanum Gothic', sans-serif;
}

#review_lst_content{
    text-align: left;
}

.content {
    line-height: 1.5; /* 줄 간격 조정 */
    color: #333; /* 글자 색상을 지정 */
}

#review_rate{
    margin: 1em 0;
}

.review_img {
    margin: 1em;
    width: 8em;
    height: 12em;
    object-fit: cover;
}

#reviewWriteBtn {
    text-align: right;
}